{% extends "base.html" %}
{% include "header.html" %}
{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}
{% block main-content %}
{% load humanize %}

<div class="uk-padding-small">
  <ul class="uk-subnav uk-subnav-pill">
    <li id="filter-mine"><a class="uk-button uk-button-default uk-button-small" href="#" onclick="$('li').filter('.cardflt[data-owner!=\x22{{request.user|escapejs}}\x22]').toggle();$('#filter-mine').toggleClass('uk-active')">Mine</a></li>
    <li id="filter-watching"><a class="uk-button uk-button-default uk-button-small" href="#" onclick="$('li').filter('li[data-watchers*=\x22{{request.user|escapejs}}\x22]').toggle();$('#filter-watching').toggleClass('uk-active')">Watching</a></li>
  </ul>

  <div class="uk-child-width-expand@s uk-grid-small uk-flex-nowrap" uk-grid>
    {% for column in columns %}
      <div {% if column.usage.name == "Done" %} id="collapseme" {% endif %}>
        <h4 {% if column.usage.name == "Done" %}id="collapse-header"{% endif%}>{{column}} -- {{column.id}}</h4>
          <ul id="{{column}}" data-column-id={{column.id}} data-column-usage="{{column.usage}}" uk-sortable="cls-custom: .uk-box-shadow-large .uk-background; handle: .uk-sortable-handle; group: sortable-group; cls-placeholder: card-placeholder" uk-overflow-auto="selContainer: .uk-flex-nowrap;selContent: .uk-flex-nowrap" uk-height-viewport="offset-bottom: 5" class="uk-background-muted uk-padding-small">

          <!-- DONE COLUMN AND CARDS -->
          {% if column.usage.name == "Done" %}
            {% for card in numbers %}
            <li id={{card.id}} class="uk-margin uk-card-default cardflt" data-owner="{{card.owner}}">
              <div class="uk-card uk-card-default uk-card-body uk-card-small">{{card.title}}</div>
              <div class="uk-card-footer" style="padding: 4px;">
                  <span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></span>
                    <a href="/cards/editcard/{{card.id}}" class="uk-button uk-button-text">Edit Card</a>
                </div>
            </li>
            {% endfor %}

            <div class="loading" style="display: none;">
              Loading...
            </div>
            {% if numbers.has_next %}
              <a class="infinite-more-link loading" href="?board={{boardname.id}}&page={{ numbers.next_page_number }}">More</a>
            {% endif %}
          {% endif %}
          <!-- END DONE COLUMN AND CARDS -->

         {% for card in cards %}
            {% if card.column.id == column.id %}
              <li id="{{ card.id }}" data-order="{{ card.order }}" class="uk-margin uk-card uk-card-small uk-card-default cardflt" data-owner="{{card.owner}}" data-watchers="[{% for watcher in card.watchers.all %}{{watcher}}, {%endfor%}]">
              <div class="uk-card-header"
                {% if card.type == "IN" %}
                  style="border-left: 4px solid red;"
                {%  elif card.priority|stringformat:"s"  == "Major" %}
                    style="border-left: 4px solid orange;"
                {%  elif card.priority|stringformat:"s"  == "Normal" %}
                    style="border-left: 4px solid yellow;"
                {% else %}
                    style="border-left: 2px solid grey;"
                {% endif %} >
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                  <div class="uk-width-auto" style="padding: 4px;">
                    {% if card.owner.profile_user.picture %}
                      <img class="user-picture" src="/media/{{card.owner.profile_user.picture}}">
                    {% else %}
                      <span uk-icon="icon: user;"></span>
                    {% endif %}
                  </div>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom uk-text-break">{{card.title}}</h3>
                    {% if card.due_date %}
                      <p class="uk-text-meta uk-margin-remove-top"><time>{{card.due_date}}</time></p>
                    {% endif %}
                  </div>
                </div>
              </div>

              <div class="uk-card-body">
                  <p class="uk-text-break">
                    {{card.description|striptags|slice:":180"}}
                  </p>
              </div>
              <div class="uk-card-footer" style="padding: 4px;">
                <span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></span>
                <!-- Show attachments pop-up {{card.attachment_card.values}} -->
                <!--<span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: attachments"></span>-->
                <!-- Show delete button for admins? <a href="#" class="uk-icon-link" uk-icon="trash"></a> -->
                <!-- add possibility to favoritye/star a card <span class="uk-margin-small-right uk-icon" uk-icon="star"></span> -->
                <a href="/cards/editcard/{{card.id}}" class="uk-button uk-button-text">Edit Card</a>
                {% if card.is_overdue %}
                  <span class="uk-align-right uk-margin-remove"
                        uk-icon="icon: warning"
                        uk-tooltip="title: This Card was overdue on: {{card.due_date}}"
                        style="color: red; padding-right: 2px;"></span>
                {% endif %}
                {% if card.watchers %}
                  <!--<a class="uk-margin-small-right uk-align-right" uk-icon="icon: users"></a>-->
                  <span class="uk-margin-remove uk-align-right"
                        uk-icon="icon: users"
                        uk-tooltip="title: This Card has watchers:<br> {% for watcher in card.watchers.values %} {{watcher.username}} {% endfor %}"
                        style="padding-right: 2px;"></span>
                {% endif %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
        </ul>


      <footer><a class="uk-button uk-button-text uk-padding-small" href="addcard/?board={{boardname.id}}&company={{boardname.company.id}}&column={{column.id}}">Add a card...</a></footer>


    </div>
    {% endfor %}
  </div>
</div>

{% endblock main-content %}
{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}