{% extends "base.html" %}
{% include "header.html" %}
{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}
{% block main-content %}
{% load cards_extras %}
{% load humanize %}
{% load static %}
  <script src='{% static "card/js/cardsapp.js" %}'></script>
  {{editcard_form.media}}
  {{comment_form.media}}

  <style>
  trix-toolbar {
    position: -webkit-sticky;
    position: sticky;
    top: -0.1rem;
    font-family: sans-serif;
    background-color: #fff;
    z-index: 10;
    padding: 1em 0;
    white-space: nowrap;
    display: block;
  }

  trix-toolbar .trix-button-row {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
  }

  </style>


<div class="uk-padding-small">
  <div class="uk-grid-small" uk-grid>

    <!-- card comments -->
    <div class="uk-width-expand uk-container uk-margin-left">
      <div id="middle-column" uk-overflow-auto><div>

        <div class="uk-margin-bottom">
          <form id="editcard_form" method="POST" role="form" onsubmit="setFormSubmitting()" onclick="setFormSubmitting()">
            {% csrf_token %}
            {{ editcard_form.media }}
            {{ editcard_form.board }}
            {{ editcard_form.title }}

            <div class="uk-section-small uk-padding-remove uk-background-muted uk-margin-small-top">

              <span class="uk-button-small" uk-tooltip="Reply">
                <a class="uk-link" href="#reply-modal" uk-toggle><span uk-icon="icon: reply"></span></a>
              </span>

              <span class="uk-button-small" uk-tooltip="Move to board">
                <a class="uk-link" href="#movecard-modal" uk-toggle><span uk-icon="icon: move"></span>Board</a>
              </span>

              <span class="uk-button-small">
                <div uk-form-custom="target: > * > span:last-child">
                  {{ editcard_form.column }}
                  <span class="uk-link" {% if card.column.usage.name == "Done" %} style="color:red; text-decoration: underline;text-decoration-style: double;text-decoration-color: red;" {%endif%}>
                    <span uk-icon="icon: pencil" ></span>Column:
                    <span></span>
                  </span>
                </div>
              </span>

              <span class="uk-button-small">
                <div uk-form-custom="target: > * > span:last-child">
                  {{ editcard_form.priority }}
                  <span class="uk-link">
                    <span uk-icon="icon: pencil"></span>Priority
                    <span></span>
                  </span>
                </div>
              </span>

              <span class="uk-button-small">
                <div uk-form-custom="target: > * > span:last-child">
                  {{ editcard_form.type }}
                  <span class="uk-link">
                    <span uk-icon="icon: pencil"></span>Type:
                    <span></span>
                  </span>
                </div>
              </span>

              <span class="uk-button-small" uk-icon="icon:happy;" uk-tooltip="Company"></span>
              <div uk-drop="mode: click; offset: 0;" class="uk-width-large">
                <div class="uk-card uk-card-body uk-card-default">
                  <div >
                    <span class="uk-form-controls uk-inline ">
                      {{ editcard_form.company}}
                    </span>
                  </div>
                </div>
              </div>

              <span class="uk-button-small" uk-icon="icon:user;" uk-tooltip="Owner"></span>
              <div uk-drop="mode: click; offset: 0;" class="uk-width-large">
                <div class="uk-card uk-card-body uk-card-default">
                  <div >
                    <span class="uk-form-controls uk-inline uk-drop-grid" >
                      {{ editcard_form.owner}}
                    </span>
                  </div>
                </div>
              </div>

              <span class="uk-button-small" uk-icon="icon:users;" uk-tooltip="Watchers"></span>
              <div uk-drop="mode: click; offset: 0;" class="uk-width-large">
                <div class="uk-card uk-card-body uk-card-default">
                  <div >
                    <span class="uk-form-controls uk-inline">
                      {{ editcard_form.watchers}}
                    </span>
                  </div>
                </div>
              </div>

              <span class="uk-button-small" uk-icon="icon:chevron-double-right;" uk-tooltip="Estimate {{card.time_worked.minutes__sum}}"
                {% if card.time_worked.minutes__sum > card.estimate %} style="color:red" {% endif %}
              ></span>
              <div uk-drop="mode: click; offset: 0;">
                <div class="uk-card uk-card-body uk-card-default">
                  <div >
                    <span class="uk-form-controls uk-inline">
                      {{ editcard_form.estimate}}
                    </span>
                  </div>
                </div>
              </div>

              <span class="uk-button-small" uk-icon="icon: tag;" uk-tooltip="Tags"></span>
              <div uk-drop="mode: click; offset: 0;">
                <div class="uk-card uk-card-body uk-card-default">
                  <div >
                    <span class="uk-form-controls uk-inline">
                      {{ editcard_form.tags}}
                    </span>
                  </div>
                </div>
              </div>

              <span class="uk-button-small" uk-icon="icon:history;" uk-tooltip="Start date"></span>
              <div uk-drop="mode: click; offset: 0;">
                <div class="uk-card uk-card-body uk-card-default">
                  <div >
                    {{ editcard_form.start_time }}
                  </div>
                </div>
              </div>

              <span class="uk-button-small" {% if card.is_overdue %} style="color: red" {% endif %} uk-icon="icon:future;" uk-tooltip="Due date"></span>
              <div uk-drop="mode: click;" >
                <div class="uk-card uk-card-body uk-card-default">
                  <div>
                    {{ editcard_form.due_date }}
                  </div>
                </div>
              </div>

              <span class="uk-button-small" uk-icon="icon:download;" uk-tooltip="Attachments"></span>
                <div uk-drop="mode: click;">
                  <div class="uk-card uk-card-body uk-card-default uk-padding-small">
                    <div>
                      <div class="uk-accordion-content" id="attachments">
                        <form action="/attachments/addattachments/" class="uk-form-stacked" enctype="multipart/form-data" id="attachment_form" method="POST" onsubmit="setFormSubmitting()">
                          {% csrf_token %}
                          <div>
                            <input class="uk-input" name="card" type="hidden" value="{{card.id}}"/>
                            <div class="js-upload uk-placeholder uk-text-center">
                              <span uk-icon="icon: cloud-upload"></span>
                              <span class="uk-text-middle">Attach files by dropping them here or</span>
                              <div uk-form-custom>
                                <input multiple name="content" type="file">
                                <span class="uk-link">selecting one</span>
                              </div>
                            </div>
                          </div>
                        </form>
                      <div>

                        <div class="uk-panel uk-panel-scrollable">
                          <ul class="uk-list" id="attachmentshere">
                            <div >
                            {% for i in attachments %}
                              {% if 'image' in i.mimetype %}
                                <li>
                                  <a href="/media/{{i}}" target="_blank">
                                    <span uk-icon="image"></span>
                                    <span>{{i.name}}</span>
                                  </a>
                                </li>
                              {% elif 'video' in i.mimetype %}
                                <li>
                                  <a href="/media/{{i}}" target="_blank">
                                    <span uk-icon="video-camera"></span>
                                    <span>{{i.name}}</span>
                                  </a>
                                </li>
                              {% else %}
                                <li>
                                  <a href="/media/{{i}}" target="_blank">
                                    <span uk-icon="file"></span>
                                    <span>{{i.name}}</span>
                                  </a>
                                </li>
                              {% endif %}
                            {% endfor %}
                            </div>
                          </ul>
                        </div>

                      </div>
                      <progress class="uk-progress" hidden id="js-progressbar" max="100" value="0"></progress>
                      <script>
                            var bar = document.getElementById('js-progressbar');
                            UIkit.upload('.js-upload', {
                                url: '/attachments/addattachments/',
                                params: {
                                    'card' :'{{card.id}}',
                                },
                                multiple: true,
                                type: "json",
                                beforeSend: function () {
                                    console.log('beforeSend', arguments);
                                },
                                beforeAll: function () {
                                    console.log('beforeAll', arguments);
                                },
                                load: function () {
                                    console.log('load', arguments);
                                },
                                error: function () {
                                    console.log('error', arguments);
                                    //alert("error");
                                },
                                complete: function () {
                                  console.log('complete', arguments);
                                  var name = arguments[0].response['name'];
                                  var url = arguments[0].response['url'];
                                  //alert(name);
                                  content = '<li>';
                                  content += '<a href="/media/' + url + '" target="_blank">';
                                  content += '<span uk-icon="image"></span>';
                                  content += '<span>' + name + '</span>';
                                  content += '</a>';
                                  content += '<li>';
                                  $(content).appendTo("#attachmentshere");
                                },
                                loadStart: function (e) {
                                    console.log('loadStart', arguments);
                                    bar.removeAttribute('hidden');
                                    bar.max = e.total;
                                    bar.value = e.loaded;
                                },
                                progress: function (e) {
                                    console.log('progress', arguments);
                                    bar.max = e.total;
                                    bar.value = e.loaded;
                                },
                                loadEnd: function (e) {
                                    console.log('loadEnd', arguments);
                                    bar.max = e.total;
                                    bar.value = e.loaded;
                                },
                                completeAll: function (arguments) {
                                    console.log('completeAll', arguments);

                                    setTimeout(function () {
                                        bar.setAttribute('hidden', 'hidden');
                                    }, 1000);
                                }
                            });
                        </script>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
          </form>
        </div>

      </div>

        <div>
          <ul uk-accordion="multiple:true">
            {% for comment in comments %}
            <li class="uk-card-default {% if forloop.first %} uk-open {% endif %}" >
                <a class="uk-accordion-title uk-text-meta uk-padding-small
                  {% if comment.public is False %}
                    uk-background-secondary
                  {% else %}
                    uk-button-default
                  {% endif %}"
                href="#" >
                  {% if comment.public is False %}
                    <span style="color: red;" class="uk-margin-small-right" uk-icon="icon: lock; ratio: 1;"></span>
                  {% else %}
                    <span style="color: green;" class="uk-margin-small-right" uk-icon="icon: unlock; ratio: 1;"></span>
                  {% endif %}
                  From: {{ comment.owner }} on {{comment.created_time}}</a>
                <div class="uk-accordion-content uk-padding-small">
                  <article class="uk-comment">
                    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                          <h4 class="uk-comment-title uk-margin-remove">

                            <span class="uk-display-inline">
                              {% if comment.owner.profile_user.picture %}
                                <img class="uk-border-circle uk-margin-left" width="32" height="32" src="/media/{{ comment.owner.profile_user.picture }}"  alt="{{comment.owner}}">
                              {% else %}
                                <img class="uk-border-circle uk-margin-right" width="32" height="32" src="{{ comment.owner.email|gravatar_url }}" alt="{{comment.owner}}">
                              {% endif %}
                              {{comment.owner.first_name}} {{comment.owner.last_name}}
                            </span>

                          </h4>
                          <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li>{{comment.created_time}} {{ comment.card.user.user_profile.picture }}</li>
  <!--                          <li><a href="#">Action</a></li>-->
                            <li>
                              <a href="/comments/delete/{{ comment.id }}" style="color: red;" uk-icon="icon: trash; ratio: 0.7;" uk-tooltip="Delete this comment"></a>
                            </li>
                            {% if comment.minutes > 0 %}
                              <li>
                                <a href="#" uk-icon="icon: clock; ratio: 0.7;" uk-tooltip="title: {{comment.minutes}} min {%if comment.billable %}  billable {% else %} non billable {% endif %}; pos: top"></a>
                              </li>
                            {% endif %}
                          </ul>
                        </div>
                    </header>
                    <div class="uk-comment-body">
                      <p>{{comment|safe|escape|linebreaks}}</p>
                    </div>
                  </article>
                </div>
            </li>
            {%  endfor %}
          </ul>
        </div>

        <div class="uk-card-header uk-padding-small">
          <div class="uk-grid-small uk-flex-middle" uk-grid>

            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{card.created_by.first_name}} {{card.created_by.last_name}}</h3>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{card.created_time}} said:</time></p>
            </div>
          </div>
        </div>

        <div class="uk-card-body">
          <div>
            {{ card.description|safe|linebreaks }}
          </div>
        </div>

      </div>
    </div>

  <!-- end card comments -->
  </div>
</div>

<!-- This is the movecard-modal -->
<div id="movecard-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Move card</h2>

    <form action="/cards/movecardtoboard/" method="POST" id="movecardtoboardform" onsubmit="setFormSubmitting()">
      {% csrf_token %}
      <input name="card" type="hidden" value="{{card.id}}">
      <div class="uk-margin">
        <select class="uk-select" id="movetoboard" name="board">
          <option selected="true" disabled>Choose a board</option>
          {% for board in boards %}
            <option value="{{board.id}}">{{board}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="uk-margin ">
        <select class="uk-select uk-hidden" id="boardcolumn" name="column">

        </select>
      </div>

      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <button class="uk-button uk-button-primary" type="submit">Save</button>
      </p>
    </form>

    <script>
    $('#movetoboard').on('change', function(event){
      var boardId = $(this).val();
      setFormSubmitting();
      $.ajax({
          type: "POST",
          async: false,
          url: "/boards/getcolumns/",
          //traditional: true,
          data: {
            arr: boardId
          },
          success: function (data) {
            postresult = data;
          }
      });
      $('#boardcolumn').empty();
      $('#boardcolumn').removeClass('uk-hidden');
      $('#boardcolumn').append('<option selected="true" disabled>Choose a column</option>');
      $('#boardcolumn').prop('selectedIndex', 0);
      $.each(postresult, function (key, entry) {
        $('#boardcolumn').append($('<option></option>').attr('value', entry.id).text(entry.title));
      })
    });
    </script>


  </div>
</div>


<!-- this is the reply modal -->
<div id="reply-modal" uk-modal>
  <div class="uk-modal-dialog uk-width-3-4">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Reply</h2>
    </div>
    <div class="uk-modal-body" uk-overflow-auto>
      <ul class="uk-tab-bottom" uk-tab>
        <li class="uk-active"><a href="#" uk-tooltip="Just for operators">Internal note</a></li>
        <li><a href="#" uk-tooltip="Public reply to all participants">Email</a></li>
      </ul>
      <ul class="uk-switcher uk-margin">
        <li>
          <span>
            <form action="/comments/addcomment/" class="uk-form-horizontal" id="addcomment_form" method="post" onsubmit="setFormSubmitting()">
              {% csrf_token %}
              <input id="x" type="hidden" name="comment">
              <input class="uk-input" name="card" type="hidden" value="{{card.id}}"/>
              <trix-editor input="x"></trix-editor>

              <script>
              // Todo: update content-attachments as well
                document.addEventListener("trix-file-accept", function(event) {
                  (function() {
                    var HOST = "{{SITE_URL}}"

                    addEventListener("trix-attachment-add", function(event) {
                      if (event.attachment.file) {
                        uploadAttachment(event.attachment)
                      }
                    })

                    function uploadAttachment(attachment) {
                      //var csrfToken = $('meta[name="csrf-token"]').attr('content');
                      var file = attachment.file;
                      var form = new FormData;
                      var endpoint = "/attachments/addattachments/";
                      form.append("Content-Type", file.type);
                      form.append("image[image]", file);
                      form.append("card", {{card.id}})

                      xhr = new XMLHttpRequest;
                      xhr.open("POST", endpoint, true);
                      //xhr.setRequestHeader("X-CSRF-Token", csrfToken);

                      xhr.upload.onprogress = function(event) {
                        var progress = event.loaded / event.total * 100;
                        return attachment.setUploadProgress(progress);
                      };

                      xhr.onload = function() {
                        if (this.status >= 200 && this.status < 300) {
                          var data = JSON.parse(this.responseText);
                          return attachment.setAttributes({
                            url: HOST + 'media/' + data.url,
                          });
                        }
                      };

                      return xhr.send(form);

                    };

                  })();
                })
              </script>
              <input name="card" type="hidden" value="{{card.id}}" />
              <p uk-margin class="uk-text-left">
                <input style="opacity: 0; display: hidden"type="checkbox" name="billable" id="id_billable">
                <span>Minutes worked: </span>
                {{ comment_form.minutes }}

                <div class="uk-section-small uk-padding-remove uk-background-muted uk-margin-small-top">
                  <span class="uk-button-small" uk-tooltip="Reply">
                    <a href="#" id="cc-link">CC</a><span id="cc-span"></span><br/>
                  </span>
                </div>

                <input class="uk-button uk-button-secondary" onclick="setFormSubmitting()" name="internal" type="submit" value="Share Note"/>
              </p>

            </form>
          </span>
        </li>
        <li>
          <span>
            <form action="/comments/addcomment/" class="uk-form-horizontal" id="email_form" method="post" onsubmit="setFormSubmitting()">
              {% csrf_token %}
              <input id="x1" type="hidden" name="comment">
              <input class="uk-input" name="card" type="hidden" value="{{card.id}}"/>
              <trix-editor input="x1"></trix-editor>

              <script>
              // Todo: update content-attachments as well
                document.addEventListener("trix-file-accept", function(event) {
                  (function() {
                    var HOST = "{{SITE_URL}}"

                    addEventListener("trix-attachment-add", function(event) {
                      if (event.attachment.file) {
                        uploadAttachment(event.attachment)
                      }
                    })

                    function uploadAttachment(attachment) {
                      //var csrfToken = $('meta[name="csrf-token"]').attr('content');
                      var file = attachment.file;
                      var form = new FormData;
                      var endpoint = "/attachments/addattachments/";
                      form.append("Content-Type", file.type);
                      form.append("image[image]", file);
                      form.append("card", {{card.id}})

                      xhr = new XMLHttpRequest;
                      xhr.open("POST", endpoint, true);
                      //xhr.setRequestHeader("X-CSRF-Token", csrfToken);

                      xhr.upload.onprogress = function(event) {
                        var progress = event.loaded / event.total * 100;
                        return attachment.setUploadProgress(progress);
                      };

                      xhr.onload = function() {
                        if (this.status >= 200 && this.status < 300) {
                          var data = JSON.parse(this.responseText);
                          return attachment.setAttributes({
                            url: HOST + 'media/' + data.url,
                          });
                        }
                      };

                      return xhr.send(form);

                    };

                  })();
                })
              </script>
              <input name="card" type="hidden" value="{{card.id}}" />
              <p uk-margin class="uk-text-left">
                <span>Billable?</span>
                {{ comment_form.billable }}
                <span>Overtime?</span>
                {{ comment_form.overtime }}
                <span>Minutes worked: </span>
                {{ comment_form.minutes }}

                <div class="uk-section-small uk-padding-remove uk-background-muted uk-margin-small-top">
                  <span class="uk-button-small" uk-tooltip="Reply">
                    <a href="#" id="cc-link2">CC</a><span id="cc-span2"></span><br/>
                  </span>
                </div>



                <input class="uk-button uk-button-default" onclick="setFormSubmitting()" name="public" type="submit" value="Share" />
                <input class="uk-button uk-label-warning" onclick="setFormSubmitting()" name="public_close" type="submit" value="Share and close" />
              </p>

            </form>
          </span>
        </li>

      </ul>


    </div>

  </div>
</div>
{% endblock main-content %}
{% block footer %}
{% include "footer.html" %}
  <script type="application/javascript">
    // for editcard datepicker, autosubmit
  $(function() {
      $('#id_due_date, #id_start_time').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm'));
        var formdata = $('#editcard_form');
        console.log("datepicker form submitted!")  // sanity check
        // console.log()  // sanity check
        setFormSubmitting();
        doit_submit_form(formdata);

    });
    $('#id_due_date, #id_start_time').on('cancel.daterangepicker', function(ev, picker) {
        setFormSubmitting();
        $(this).val('');
    });
      $('#id_due_date').daterangepicker({
          "singleDatePicker": true,
          "timePicker": true,
          "timePickerIncrement": 15,
          "timePicker24Hour": true,
          "autoUpdateInput": false,
          "autoApply": true,
          "showCustomRangeLabel": false,
          locale: {
              format: 'YYYY-MM-DD HH:mm'
          }
      }, function(start, end, label) {
      //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
      });

      $('#id_start_time').daterangepicker({
          "singleDatePicker": true,
          "timePicker": true,
          "timePickerIncrement": 15,
          "timePicker24Hour": true,
          "showCustomRangeLabel": false,
          "autoUpdateInput": false,
          locale: {
              format: 'YYYY-MM-DD HH:mm'
          }
      }, function(start, end, label) {
      //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
      });
      // This is for addcontract/editcontract
      $('#id_start_date').daterangepicker({
          "singleDatePicker": true,
          "timePicker": false,
          "showCustomRangeLabel": false,
          locale: {
              format: 'YYYY-MM-DD'
          }
      }, function(start, end, label) {
      //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
      });
      // This is for addcontract/editcontract
      $('#id_end_date').daterangepicker({
          "singleDatePicker": true,
          "timePicker": false,
          "showCustomRangeLabel": false,
          locale: {
              format: 'YYYY-MM-DD'
          }
      }, function(start, end, label) {
      //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
      });
    });
  </script>

<!-- todo: get this working using uikit-->
 <script type="text/javascript">
var cardid = "{{card.id}}";
var card = "{{card.id}}";
</script>
<script src="{% static "card/js/vue-editcard.js" %}">
</script>

{% endblock footer %}
