{% extends "base.html" %}

{% include "header.html" %}

{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}

{% block main-content %}

{% load humanize %}
{% load static %}
{{ addcardform.media }}
<!-- Begin page content -->
<div class="container">



<div style="">&nbsp;</div>
    <div class="tabbable tabs-right">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#cdetails" data-toggle="tab">EXT Card details</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="cdetails">
                <div>
                    <form id="addcard_form" method="POST"
                        action="/cards/addcard/" role="form">
                                {% csrf_token %}
                                {{ addcardform.title }}
                                {{ addcardform.description }}
                                <br>
                                {{ addcardform.priority.label }}
                                {{ addcardform.priority }}
                                {{ addcardform.type.label }}
                                {{ addcardform.type }}
                                {{ addcardform.due_date.label }}
                                {{ addcardform.due_date }}
                        <input type="hidden" name="board" value="{{board.id}}" />
                        <input type="hidden" name="start_time" value="" />
                        <input type="hidden" name="column" value="{{column}}" />
                        <input type="hidden" name="owner" value="{{owner}}" />
                        {{ addcardform.estimate.label }}
                        {{ addcardform.estimate }}
                        <!--<input id="id_estimate" min="0" step="15" name="estimate" type="number" value="0" />-->
                        <input type="hidden" name="company" value="{{ company }}" />
                        <br><br>
                        <input type="submit" class="btn btn-primary"
                            name="submit" value="Create Card" />
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- /tabs -->

</div> <!-- end main container-->

<script>

// console.log("the card is, ", card );
// var card = {{ card.id }}
// $('#editCardModal').on('shown.bs.modal', function (e) {
//   $.get("/comments/getcommentcount/", { card: card}, function(cardcount) {
//         $(".commentcount").html(cardcount);
//     });
//     $.get("/cards/getworklogcount/", { card: card}, function(worklogcount) {
//         $(".worklogcount").html(worklogcount);
//         //alert("loaded worklogs");
//     });
//     $.get("/cards/gettaskcount/", { card: card}, function(taskcount) {
//         $(".taskcount").html(taskcount);
//     });
// });

</script>

{% endblock main-content %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}