{% extends "base.html" %}

{% include "header.html" %}

{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}

{% block main-content %}

{% load humanize %}
{% load static %}
{{ addcardform.media }}

<!-- DISABLE trix file uploads here -->
<!-- Todo figure out how to store attachments to a card that does not yet exist -->
<style>
trix-toolbar [data-trix-action='attachFiles'],
trix-toolbar [data-trix-button-group='file-tools'] {
  display: none;
}
</style>

<script>
document.addEventListener("trix-file-accept", function(event) {
  event.preventDefault()
})
</script>

<!-- Begin page content -->
<div class="uk-container">

    <div>
        <div class="uk-alert-warning" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h3>Notice!</h3>
        <p>Attaching files is not yet supported on this page. You can however add them immediately after you save this page.<br> Thank you for your patience and understanding as we continue development.</p>
      </div>
        <div class="tab-content">
            <div class="tab-pane active" id="cdetails">
                <div>
                    <form id="addcard_form" method="POST"
                        action="/cards/addcard/" role="form">
                                {% csrf_token %}
                                <input id="description" type="hidden" name="description">
          <input type="text" name="title" style="width: 86%; border: 0px; font-size: 16pt; background-color: lightgrey; padding: 5px;" required="True" placeholder="Enter card title" id="id_title" maxlength="255">
          <br><br>
          <!-- trix test       -->
              <trix-editor autofocus input="description"></trix-editor>
          <!-- trix test       -->
        <br><br>
                                <br>
                                {{ addcardform.priority.label }}
                                {{ addcardform.priority }}
                                {{ addcardform.type.label }}
                                {{ addcardform.type }}
                                {{ addcardform.due_date.label }}
                                {{ addcardform.due_date }}
                        <input type="hidden" name="board" value="{{board.id}}" />
                        <input type="hidden" name="start_time" />
                        <input type="hidden" name="column" value="{{column}}" />
                        <input type="hidden" name="owner" value="{{owner}}" />

                        <!--<input id="id_estimate" min="0" step="15" name="estimate" type="number" value="0" />-->
                        <input type="hidden" name="company" value="{{ company }}" />
                        <br><br>
                        <input type="submit" class="btn btn-primary"
                            name="submit" value="Submit request" />
                    </form>
                </div>
            </div>
        </div>
<!-- /tabs -->

</div> <!-- end main container-->

<script>

// console.log("the card is, ", card );
// var card = {{ card.id }}
// $('#editCardModal').on('shown.bs.modal', function (e) {
//   $.get("/comments/getcommentcount/", { card: card}, function(cardcount) {
//         $(".commentcount").html(cardcount);
//     });
//     $.get("/cards/getworklogcount/", { card: card}, function(worklogcount) {
//         $(".worklogcount").html(worklogcount);
//         //alert("loaded worklogs");
//     });
//     $.get("/cards/gettaskcount/", { card: card}, function(taskcount) {
//         $(".taskcount").html(taskcount);
//     });
// });

</script>

{% endblock main-content %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}