{% extends "base.html" %}
{% include "header.html" %}
{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}
{% block main-content %}
  {{comment_form.media}}
  {{editcard_form.media}}
{% load humanize %}

<!--NEW -->
<div class="uk-padding-small">
  <div class="uk-child-width-expand uk-grid-divider uk-grid-small uk-grid-collapse" uk-grid>
    <div class="uk-width-1-4">
      <div style="height: calc((100vh - 150px) - 100px);" uk-overflow-auto>
        <h4 class="uk-heading-bullet">Card details</h4>
        {% if card.closed %}
          <a class="uk-button-small uk-button-primary" href="/cards/reopencard/{{card.id}}">Reopen Card</a>
        {% else %}
          <a class="uk-button-small uk-button-danger" href="/cards/closecard/{{card.id}}">Close Card</a>
        {% endif %}
        <!-- TODO: define escalation <a class="uk-button-small uk-button-secondary" href="/cards/closecard/{{card.id}}">Escalate</a>-->

        <input class="uk-input uk-text-lead" disabled value="{{editcard_form.title.value }}">

        <div class="uk-margin">
          <div uk-form-custom="target: > * > span:last-child">
            <span>
              <span uk-icon="icon: warning"></span> {{ card.priority }} Priority
              <span></span>
            </span>
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-form-controls">
            {{ editcard_form.owner.label}}
            {{ card.owner.first_name }} {{ card.owner.last_name }}
          </div>
        </div>

        <h4 class="uk-heading-bullet">Attachments</h4>
        <!-- attachments -->
        <div>
          <form action="/attachments/addattachments/" class="uk-form-stacked"
              enctype="multipart/form-data" id="attachment_form" method="POST">
              {% csrf_token %}
              <div>
                <input class="uk-input" name="card" type="hidden" value="{{card.id}}"/>
                <div class="js-upload uk-placeholder uk-text-center">
                  <span uk-icon="icon: cloud-upload"></span>
                  <span class="uk-text-middle">Attach files by dropping them here or</span>
                  <div uk-form-custom>
                    <input multiple name="content" type="file">
                    <span class="uk-link">selecting one</span>
                  </div>
                </div>
              </div>
          </form>

          <progress class="uk-progress" hidden id="js-progressbar" max="100" value="0"></progress>
          <script>
              var bar = document.getElementById('js-progressbar');
              UIkit.upload('.js-upload', {
                  url: '/attachments/addattachments/',
                  params: {
                      'card' :'{{card.id}}',
                  },
                  multiple: true,
                  type: "json",
                  beforeSend: function () {
                      console.log('beforeSend', arguments);
                  },
                  beforeAll: function () {
                      console.log('beforeAll', arguments);
                  },
                  load: function () {
                      console.log('load', arguments);
                  },
                  error: function () {
                      console.log('error', arguments);
                  },
                  complete: function () {
                    console.log('complete', arguments);
                    var name = arguments[0].response['name'];
                    var upurl = arguments[0].response['url'];
                    console.log(name);
                    console.log(upurl);
                    content = '<li>';
                    content += '<a href="/media/' + upurl + '" target="_blank">';
                    content += '<span uk-icon="image"></span>';
                    content += '<span>' + name + '</span>';
                    content += '</a>';
                    content += '<li>';
                    $(content).appendTo("#attachmentshere");
                  },
                  loadStart: function (e) {
                      bar.removeAttribute('hidden');
                      bar.max = e.total;
                      bar.value = e.loaded;
                  },
                  progress: function (e) {
                      bar.max = e.total;
                      bar.value = e.loaded;
                  },
                  loadEnd: function (e) {
                      bar.max = e.total;
                      bar.value = e.loaded;
                  },
                  completeAll: function () {
                      setTimeout(function () {
                          bar.setAttribute('hidden', 'hidden');
                      }, 1000);
                  }
              });
          </script>

          <div class="uk-panel uk-panel-scrollable">
            <ul class="uk-list" id="attachmentshere">
              <div>
              {% for i in attachments %}
                {% if 'image' in i.mimetype %}
                  <li>
                    <a href="/media/{{i}}" target="_blank">
                      <span uk-icon="image"></span>
                      <span>{{i.name}}</span>
                    </a>
                  </li>
                {% elif 'video' in i.mimetype %}
                  <li>
                    <a href="/media/{{i}}" target="_blank">
                      <span uk-icon="video-camera"></span>
                      <span>{{i.name}}</span>
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a href="/media/{{i}}" target="_blank">
                      <span uk-icon="file"></span>
                      <span>{{i.name}}</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              </div>
            </ul>
          </div>
        </div>
        <!-- end attachments -->

      </div>
      <div class="uk-divider-icon"></div>
    </div>
    <!-- middle column -->
    <div>
      <div id="middle-column" style="height: calc((100vh - 150px) - 100px);" uk-overflow-auto>
      <div>
          {{ card.description|safe|escape|linebreaks }}
      </div>
      <div>

      {#       test#}
      <ul uk-accordion="multiple:true">
        {% for comment in comments %}
        <li class="{% if forloop.last %} uk-open {%  endif %}">
          <a class="uk-accordion-title uk-padding-small  uk-background-muted" href="#">FROM: {{ comment.owner }} on {{comment.created_time}}</a>
          <div class="uk-accordion-content uk-padding-small">
            <article class="uk-comment">
              <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  {% if comment.owner.profile_user.picture %}
                    <span class="uk-width-auto">
                      <img class="uk-border-circle uk-margin-right" src="/media/{{ comment.owner.profile_user.picture }}" width="32" height="32" alt="{{comment.owner}}">
                    </span>
                  {% endif %}
                </div>
                <div class="uk-width-expand">
                  <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#"><span>{{comment.owner.first_name}} {{comment.owner.last_name}}</span></a></h4>
                  <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li>{{comment.created_time}}</li>
                  </ul>
                </div>
              </header>
              <div class="uk-comment-body">
                <p>{{comment|safe|escape|linebreaks}}</p>
              </div>
            </article>
          </div>
        </li>
        {%  endfor %}
      </ul>
      {#      end test#}

      </div>
      <div>
        <span>
          <a class="target-scroll-on-load" id="target-scroll-on-load"></a>
          <form action="/comments/addcomment/" class="uk-form-horizontal" id="addcomment_form" method="post">
            {% csrf_token %}
            <input id="x" type="hidden" name="comment">
              <input class="uk-input" name="card" type="hidden" value="{{card.id}}"/>
              <trix-editor autofocus input="x"></trix-editor>

              <script>
              // Todo: update content-attachments as well
                document.addEventListener("trix-file-accept", function(event) {
                  (function() {
                    //var HOST = "http://127.0.0.1:8000/"
                    let HOST = "{{SITE_URL}}"
                    addEventListener("trix-attachment-add", function(event) {
                      if (event.attachment.file) {
                        uploadAttachment(event.attachment)
                      }
                    })

                    function uploadAttachment(attachment) {
                      //var csrfToken = $('meta[name="csrf-token"]').attr('content');
                      var file = attachment.file;
                      var form = new FormData;
                      var endpoint = "/attachments/addattachments/";
                      form.append("Content-Type", file.type);
                      form.append("image[image]", file);
                      form.append("card", {{card.id}})
                      xhr = new XMLHttpRequest;
                      xhr.open("POST", endpoint, true);
                      //xhr.setRequestHeader("X-CSRF-Token", csrfToken);
                      xhr.upload.onprogress = function(event) {
                        var progress = event.loaded / event.total * 100;
                        return attachment.setUploadProgress(progress);
                      };
                      xhr.onload = function() {
                        if (this.status >= 200 && this.status < 300) {
                          var data = JSON.parse(this.responseText);
                          return attachment.setAttributes({
                            url: HOST + 'media/' + data.url,
                          });
                        }
                      };
                      return xhr.send(form);
                    };
                  })();
                })
              </script>
            <div class="comment-actions">
              <input name="card" type="hidden" value="{{card.id}}" />
              <input class="uk-button-small uk-button-primary uk-button-large"  type="submit" value="Reply" />
            </div>
          </form>
        </span>
      </div>
      </div>
      <div class="uk-divider-icon"></div>
    </div>
</div>
<!--END NEW -->

{% endblock main-content %}

{% block footer %}
{% include "footer.html" %}
<!-- todo: get this working using uikit-->
<script type="text/javascript">
$(document).ready(function(){
    $("#middle-column").animate({ scrollTop: $('#middle-column').prop("scrollHeight")}, 1000);
});
</script>
{% endblock footer %}
