{% extends "base.html" %}
{% include "header.html" %}
{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}
{% block main-content %}
  {{comment_form.media}}
  {{editcard_form.media}}
{% load humanize %}
{% load static %}


<!-- Todo:
trix-attachment-remove fires when an attachment is removed from the document. You can access the Trix attachment object through the attachment property on the event. You may wish to use this event to clean up remotely stored files
↳ https://github.com/basecamp/trix#observing-editor-changes
Is there something more specific you'd like to know?
-->

<div class="uk-padding-small">
  <div class="uk-grid-small" uk-grid>
    <div class="uk-width-1-4" style="height: calc((100vh - 150px) - 100px);" uk-overflow-auto>

    <div class="uk-width-auto uk-padding-small uk-padding-remove-top">
      <!-- TODO: get worklogs per card (except non-billable  -->
      {% if card.closed %}<span class="uk-label uk-label-success">Closed</span>
      {% else %}
        {% if card.priority.title == "Major" %}<span class="uk-label uk-label-danger">Major</span>{% endif %}
        {% if card.is_overdue %}<span class="uk-label uk-label-warning">Overdue</span>{% endif %}
        {% if card.type == "IN" %}<span class="uk-label uk-label-danger">INCIDENT</span>{% endif %}
      {% endif %}

    </div>

      <ul uk-accordion="multiple: false">
        <li>
          <a class="uk-accordion-title" href="#"><span class="uk-heading-bullet">Card details</span></a>
          <div class="uk-accordion-content" id="carddetails">
            <form action="" class="uk-form-stacked" id="editcard_form" method="POST" role="form">
            {% csrf_token %}
            {{ editcard_form.board }}
            {{ editcard_form.title }}
          <div class="uk-margin-small">
            <div>
              <span class="uk-link">
                <a class="uk-link" href="#movecard-modal" uk-toggle><span uk-icon="icon: move"></span>Board</a>
                <span></span>
              </span>
            </div>

            <div uk-form-custom="target: > * > span:last-child">
              {{ editcard_form.column }}
              <span class="uk-link">
                <span uk-icon="icon: pencil"></span>Column
                <span></span>
              </span>
            </div>
          </div>
            <div class="uk-margin-small">
              <div uk-form-custom="target: > * > span:last-child">
                {{ editcard_form.priority }}
                <span class="uk-link">
                  <span uk-icon="icon: pencil"></span>Priority
                  <span></span>
                </span>
              </div>
            </div>
            <div class="uk-margin-small">
              <div uk-form-custom="target: > * > span:last-child">
                {{ editcard_form.type }}
                <span class="uk-link">
                  <span uk-icon="icon: pencil"></span>Type
                  <span></span>
                </span>
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-form-controls">
                {{ editcard_form.start_time.label }}
                {{ editcard_form.start_time }}
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-form-controls">
                {{ editcard_form.due_date.label }}
                {{ editcard_form.due_date }}
              </div>
            </div>

            <div class="uk-margin-small">
              <div class="uk-form-controls">
                {{ editcard_form.company.label }}
                {{ editcard_form.company }}
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-form-controls">
                {{ editcard_form.owner.label}}
                {{ editcard_form.owner}}
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-form-controls">
                {{ editcard_form.watchers.label}}
                {{ editcard_form.watchers}}
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-form-controls">
                {{ editcard_form.estimate.label }}
                {{ editcard_form.estimate }}
              </div>
            </div>
            <div class="uk-margin-small">
              <div class="uk-form-controls">
                {{ editcard_form.tags.label }}
                {{ editcard_form.tags }}
              </div>
            </div>
          </form>
          </div>
        </li>

        <li>
          <a class="uk-accordion-title" href="#"><span class="uk-heading-bullet">Reminders
            {% if card.has_open_reminders > 0 %}
              <span class="uk-badge">
                <span id="vue_reminders" v-cloak >[[open_reminders]]</span>
              </span>
            {% endif %}
            </span>
          </a>
          <div class="uk-accordion-content" id="reminders">
            <form action="/cards/addreminder/" class="uk-form-stacked" id="addreminder_form" method="post">
              {% csrf_token %}
              {{ addreminder_form.as_p }}
              <input name="card" type="hidden" value="{{card.id}}">
              <div class="">
                <a class="uk-button-small uk-button-default" href="#" onclick="send_reminder()"
              type="submit">Add Reminder</a>

                <a aria-controls="collapseReminder" aria-expanded="true"
                class="uk-button-small uk-button-secondary"
                 data-toggle="collapse" href="#collapseReminders"
                  onclick="get_reminders({{ card.id }})">View Reminders
                </a>
              </div>
              <!-- TODO: post a comment (added a reminder?)?-->
            </form>
            <!-- REMINDER MESSAGES -->
            <!-- TODO: get via ajax the result (class) and the message itself -->
            <div class="hidden alert alert-success" id="reminder-mess-success" role="alert">The reminder was posted succesfully.</div>
            <div class="hidden alert alert-danger" id="reminder-mess-failed" role="alert">The reminder was not posted. Please try again.</div>
            <div class="uk-card" id="collapseReminders"></div>
            <!--=== END Collapsable REMINDERS  ===-->
          </div>
        </li>

        <li>
          <a class="uk-accordion-title" href="#"><span class="uk-heading-bullet">Tasks
            {% if card.has_open_tasks > 0 %}
              <span class="uk-badge">
                <span id="opentasks" v-cloak >[[open_tasks]]</span>
              </span>
            {% endif %}

            </span>
          </a>

          <div class="uk-accordion-content" id="tasks">

<!--              <ul id="example-1">-->
<!--                <li v-for="task in open_tasks" v-if="!task.done">-->
<!--                  <input name="task" value="[[ task.id ]]" type="checkbox" class="task-item task-checkbox" data-date="[[ task.created_time]]">&nbsp;<span>[[ task.task ]]</span>-->
<!--                </li>-->
<!--                <li v-else>-->
<!--                  <input name="task" value="[[ task.id ]]" checked type="checkbox" class="task-item task-checkbox" data-date="[[ task.created_time]]">&nbsp;<span>[[ task.task ]]</span>-->
<!--                </li>-->
<!--              </ul>-->

            <form action="/cards/addtask/" id="add_task_form" method="post" >
              <!-- csrf token here -->
              {% csrf_token %}
              <input name="card" type="hidden" value="{{card.id}}">
              <input class="uk-input" name="task" placeholder="Add a task" type="text"/>
               <!-- TODO: assign tasks to owner! -->
              <a class="uk-button-small uk-button-default" href="#" onclick="send_task()"
              type="submit">Add Task</a>
              <a aria-controls="collapseTasks" aria-expanded="false"
              class="uk-button-small uk-button-secondary"
              data-toggle="collapse" href="#collapseTasks"
              onclick="get_tasks({{ card.id }})">View Tasks</a>
            </form>
            <div class="hidden alert alert-success" id="task-mess-success" role="alert">The task was posted succesfully.</div>
            <div class="hidden alert alert-danger" id="task-mess-failed" role="alert">The task was not posted. Please try again.</div>
            <div class="uk-card" id="collapseTasks"></div>
          </div>
        </li>

        <li>
          <a class="uk-accordion-title" href="#"><span class="uk-heading-bullet">Attachments</span></a>
          <div class="uk-accordion-content" id="attachments">
            <form action="/attachments/addattachments/" class="uk-form-stacked"
              enctype="multipart/form-data" id="attachment_form" method="POST">
              {% csrf_token %}
              <div>
                <input class="uk-input" name="card" type="hidden" value="{{card.id}}"/>

                <div class="js-upload uk-placeholder uk-text-center">
                  <span uk-icon="icon: cloud-upload"></span>
                  <span class="uk-text-middle">Attach files by dropping them here or</span>
                  <div uk-form-custom>
                    <input multiple name="content" type="file">
                    <span class="uk-link">selecting one</span>
                  </div>
                </div>

              </div>
          </form>
            <div>
          <div class="uk-panel uk-panel-scrollable">
            <ul class="uk-list" id="attachmentshere">
              <div >
              {% for i in attachments %}
                {% if 'image' in i.mimetype %}
                  <li>
                    <a href="/media/{{i}}" target="_blank">
                      <span uk-icon="image"></span>
                      <span>{{i.name}}</span>
                    </a>
                  </li>
                {% elif 'video' in i.mimetype %}
                  <li>
                    <a href="/media/{{i}}" target="_blank">
                      <span uk-icon="video-camera"></span>
                      <span>{{i.name}}</span>
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a href="/media/{{i}}" target="_blank">
                      <span uk-icon="file"></span>
                      <span>{{i.name}}</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              </div>
            </ul>
          </div>
        </div>

            <progress class="uk-progress" hidden id="js-progressbar" max="100" value="0"></progress>
          <script>
              var bar = document.getElementById('js-progressbar');
              UIkit.upload('.js-upload', {
                  url: '/attachments/addattachments/',
                  params: {
                      'card' :'{{card.id}}',
                  },
                  multiple: true,
                  type: "json",
                  beforeSend: function () {
                      console.log('beforeSend', arguments);
                  },
                  beforeAll: function () {
                      console.log('beforeAll', arguments);
                  },
                  load: function () {
                      console.log('load', arguments);
                  },
                  error: function () {
                      console.log('error', arguments);
                      //alert("error");
                  },
                  complete: function () {
                    console.log('complete', arguments);
                    var name = arguments[0].response['name'];
                    var upurl = arguments[0].response['url'];
                    //alert(name);
                    content = '<li>';
                    content += '<a href="/media/' + upurl + '" target="_blank">';
                    content += '<span uk-icon="image"></span>';
                    content += '<span>' + name + '</span>';
                    content += '</a>';
                    content += '<li>';
                    $(content).appendTo("#attachmentshere");
                  },
                  loadStart: function (e) {
                      console.log('loadStart', arguments);
                      bar.removeAttribute('hidden');
                      bar.max = e.total;
                      bar.value = e.loaded;
                  },
                  progress: function (e) {
                      console.log('progress', arguments);
                      bar.max = e.total;
                      bar.value = e.loaded;
                  },
                  loadEnd: function (e) {
                      console.log('loadEnd', arguments);
                      bar.max = e.total;
                      bar.value = e.loaded;
                  },
                  completeAll: function (arguments) {
                      console.log('completeAll', arguments);

                      setTimeout(function () {
                          bar.setAttribute('hidden', 'hidden');
                      }, 1000);
                  }
              });
          </script>
          </div>

        </li>

        <!-- <li>
          <a class="uk-accordion-title" href="#"><span class="uk-heading-bullet">Knowledge Base</span></a>
          <div class="uk-accordion-content" id="kb">
            <ul>
              <li>item 1</li>
              <li>item 2</li>
              <li>item 3</li>
              <li>item 4</li>
              <li>item 5</li>
            </ul>
          </div>
        </li> -->

      </ul>
    </div>
    <!-- middle column -->

    <div class="uk-width-expand">
      <div id="middle-column" style="height: calc((100vh - 150px) - 100px);" uk-overflow-auto>
        
        <div class="uk-card-header uk-padding-small">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-border-circle" width="40" height="40" src="/media/{{ card.created_by.profile_user.picture }}">
              </div>
              <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">{{card.created_by.first_name}} {{card.created_by.last_name}}</h3>
                  <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{card.created_time}} said:</time></p>
              </div>
          </div>
        </div>

       <div class="uk-card uk-card-default uk-card-body">
        <div>
          {{ card.description|safe|linebreaks }}
        </div>
      </div>
      <br>

        <div>
        {% for comment in comments %}
          <div>
            
            <!-- <div class="uk-padding-small uk-text-small">
              {% if comment.owner.profile_user.picture %}
                <span class="uk-width-auto">
                  <img class="uk-border-circle uk-margin-right" src="/media/{{ comment.owner.profile_user.picture }}" width="32" height="32" alt="{{comment.owner}}">
                </span>
              {% endif %}
              <span>{{comment.owner.first_name}} on</span>
              <span>{{comment.created_time}} said:</span>
            </div> -->

            <div class="uk-card {% if comment.public is False %} uk-background-muted{% endif %}">
                <div class="uk-card-header uk-padding-small">
                  <div class="uk-grid-small uk-flex-middle" uk-grid>
                    {% if comment.owner.profile_user.picture %}
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="40" height="40" src="/media/{{ comment.owner.profile_user.picture }}">
                    </div>
                    {% endif %}
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">{{comment.owner.first_name}} {{comment.owner.last_name}}</h3>
                        <p class="uk-text-meta uk-margin-remove-top"><time >{{comment.created_time}} said:</time></p>
                    </div>
                  </div>
                </div>

              {% if comment.public is False %}
                <div><span class="uk-padding-small uk-position-top-right uk-background-muted" style="color: red;" uk-icon="lock" uk-tooltip="title: This is a private note; pos: left"></span></div>
              {% else %}
                <div><span class="uk-padding-small uk-position-top-right uk-background-muted" style="color: green;" uk-icon="unlock" uk-tooltip="title: This comment is public; pos: left"></span></div>
              {% endif %}
              {% if comment.minutes > 0 %}
                <div><span class="uk-padding-small uk-position-bottom-right uk-background-muted" uk-icon="clock" uk-tooltip="title: {{comment.minutes}} min {%if comment.billable %}  billable {% else %} non billable {% endif %}; pos: left"></span></div>
              {% endif %}

              <article class="uk-comment">
                <div class="uk-comment-body uk-card-default uk-card-body">
                    <p>{{comment|safe|escape|linebreaks}}</p>
                </div>
              </article>
            </div>
          </div>
          <br>
        {% endfor %}
        </div>

        <div>
          <span>
            <a class="target-scroll-on-load" id="target-scroll-on-load"></a>
            <form action="/comments/addcomment/" class="uk-form-horizontal" id="addcomment_form" method="post">
              {% csrf_token %}
              <input id="x" type="hidden" name="comment">
              <input class="uk-input" name="card" type="hidden" value="{{card.id}}"/>
              <trix-editor autofocus input="x"></trix-editor>

              <script>
              // Todo: update content-attachments as well
                document.addEventListener("trix-file-accept", function(event) {
                  (function() {
                    //var HOST = "http://127.0.0.1:8000/"
                    var HOST = "{{SITE_URL}}"

                    addEventListener("trix-attachment-add", function(event) {
                      if (event.attachment.file) {
                        uploadAttachment(event.attachment)
                      }
                    })

                    function uploadAttachment(attachment) {
                      //var csrfToken = $('meta[name="csrf-token"]').attr('content');
                      var file = attachment.file;
                      var form = new FormData;
                      var endpoint = "/attachments/addattachments/";
                      form.append("Content-Type", file.type);
                      form.append("image[image]", file);
                      form.append("card", {{card.id}})

                      xhr = new XMLHttpRequest;
                      xhr.open("POST", endpoint, true);
                      //xhr.setRequestHeader("X-CSRF-Token", csrfToken);

                      xhr.upload.onprogress = function(event) {
                        var progress = event.loaded / event.total * 100;
                        return attachment.setUploadProgress(progress);
                      };

                      xhr.onload = function() {
                        if (this.status >= 200 && this.status < 300) {
                          var data = JSON.parse(this.responseText);
                          return attachment.setAttributes({
                            url: HOST + 'media/' + data.url,
                          });
                        }
                      };

                      return xhr.send(form);

                    };

                  })();
                })
              </script>

              <div class="comment-actions">
                <span>Billable?</span>
                {{ comment_form.billable }}
                <span>Overtime?</span>
                {{ comment_form.overtime }}
                <span>Minutes worked: </span>
                {{ comment_form.minutes }}
                <input name="card" type="hidden" value="{{card.id}}" />
                <input class="uk-button-small uk-button-primary" name="public" type="submit" value="Share with customer" />
                <input class="uk-button-small uk-button-default"  name="internal" type="submit" value="Share internally" />
                <input class="uk-button-small uk-button-secondary"  name="public_close" type="submit" value="Share with customer and close" />
              </div>
            </form>
          </span>
        </div>



      </div>
    <div class="uk-divider-icon"></div>
  </div>

  <!-- end middle column -->
</div>

<!-- This is the movecard-modal -->
<div id="movecard-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Move card</h2>

    <form action="/cards/movecardtoboard/" method="POST" id="movecardtoboardform">
      {% csrf_token %}
      <input name="card" type="hidden" value="{{card.id}}">
      <div class="uk-margin">
        <select class="uk-select" id="movetoboard" name="board">
          <option selected="true" disabled>Choose a board</option>
          {% for board in boards %}
            <option value="{{board.id}}">{{board}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="uk-margin ">
        <select class="uk-select uk-hidden" id="boardcolumn" name="column">

        </select>
      </div>

      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <button class="uk-button uk-button-primary" type="submit">Save</button>
      </p>
    </form>

    <script>
    $('#movetoboard').on('change', function(event){
      var boardId = $(this).val();
      $.ajax({
          type: "POST",
          async: false,
          url: "/boards/getcolumns/",
          //traditional: true,
          data: {
            arr: boardId
          },
          success: function (data) {
            postresult = data;
          }
      });
      $('#boardcolumn').empty();
      $('#boardcolumn').removeClass('uk-hidden');
      $('#boardcolumn').append('<option selected="true" disabled>Choose a column</option>');
      $('#boardcolumn').prop('selectedIndex', 0);
      $.each(postresult, function (key, entry) {
        $('#boardcolumn').append($('<option></option>').attr('value', entry.id).text(entry.title));
      })
    });
    </script>


  </div>
</div>


{% endblock main-content %}

{% block footer %}
{% include "footer.html" %}
  <script type="application/javascript">
    // for editcard datepicker, autosubmit
  $(function() {
      $('#id_due_date, #id_start_time').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm'));
        var formdata = $('#editcard_form');
        console.log("datepicker form submitted!")  // sanity check
        // console.log()  // sanity check
        doit_submit_form(formdata);

    });
    $('#id_due_date, #id_start_time').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
      $('#id_due_date').daterangepicker({
          "singleDatePicker": true,
          "timePicker": true,
          "timePickerIncrement": 15,
          "timePicker24Hour": true,
          "autoUpdateInput": false,
          "autoApply": true,
          "showCustomRangeLabel": false,
          locale: {
              format: 'YYYY-MM-DD HH:mm'
          }
      }, function(start, end, label) {
      //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
      });

      $('#id_start_time').daterangepicker({
          "singleDatePicker": true,
          "timePicker": true,
          "timePickerIncrement": 15,
          "timePicker24Hour": true,
          "showCustomRangeLabel": false,
          "autoUpdateInput": false,
          locale: {
              format: 'YYYY-MM-DD HH:mm'
          }
      }, function(start, end, label) {
      //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
      });
      // This is for addcontract/editcontract
      $('#id_start_date').daterangepicker({
          "singleDatePicker": true,
          "timePicker": false,
          "showCustomRangeLabel": false,
          locale: {
              format: 'YYYY-MM-DD'
          }
      }, function(start, end, label) {
      //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
      });
      // This is for addcontract/editcontract
      $('#id_end_date').daterangepicker({
          "singleDatePicker": true,
          "timePicker": false,
          "showCustomRangeLabel": false,
          locale: {
              format: 'YYYY-MM-DD'
          }
      }, function(start, end, label) {
      //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
      });
    });
  </script>

<!-- todo: get this working using uikit-->
 <script type="text/javascript">
var cardid = "{{card.id}}";
var card = "{{card.id}}";
</script>
<script src="{% static "js/vue-editcard.js" %}">
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#middle-column").animate({ scrollTop: $('#middle-column').prop("scrollHeight")}, 1000);
});
</script>

{% endblock footer %}
