{% extends "base.html" %}
{% load static %}
{% include "header.html" %}
    {% include "menu.html" %}
{% block main-content %}
{% load static %}

<div class="uk-container">
    <div class="row">

        <ul uk-accordion="collapsible: false">
            <li>
                <a href="#boarddetails" class="uk-accordion-title">Board details</a>
                <div class="uk-accordion-content" id="boarddetails">
                    <form id="editboard_form" method="POST" action="/boards/editboard/{{board.id}}">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="uk-button uk-button-primary" name="submit" value="Save Board" />
                            <a class="uk-button uk-button-default" href="/cards/?board={{board.id}}" value="Back to Board">Back to Board</a>
                            <a href="/boards/deleteboard/{{board.id}}" class="uk-button uk-button-danger">Delete this board</a>
                        </div>
                    </form>
                    
                </div>
            </li>
            <li data-toggle="tab" class="">
                <a href="#columns" class="uk-accordion-title">Columns</a>
                <div class="uk-accordion-content">
                    <div class="tab-pane fade in" id="columns">
                        <br />
                        <ul id="sortableboardcolumns">
                        {% for column in board_columns %}
                            <li class="col-sm-3 list-group-item">
                                Name: {{ column.title }}<br/>
                                Usage: {{ column.usage }}<br/>
                                Order: {{ column.order }}</li>
                        {% endfor %}
                            <li><span><i class="glyphicon-plus-sign glyphicon"></i></span></li>
                        </ul>
                        <br />
        
                    </div>
                </div>
            </li>
        </ul>


        <div class="tab-content">

           
            
            
            

        </div>

    </div>
</div>


{% endblock main-content %}
{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}