.card-placeholder {
    border: 1px dashed lightslategray;
    background-color: rgba(212, 198, 198, 0.438);
    opacity: 0.5;
    /* padding: 10px; */
    /* padding-bottom: 10px; */
    /* margin-bottom: 15px; */
}

.sph-card-styling {
    font-size: 12px !important;
}
.uk-card-small .uk-card-body, .uk-card-small.uk-card-body {
    padding: 10px 10px !important;
}

.uk-card-small .uk-card-header{
    padding: 5px 17px !important;
}