.card-placeholder {
    border: 1px dashed lightslategray;
    background-color: rgba(212, 198, 198, 0.438);
    opacity: 0.5;
    /* padding: 10px; */
    /* padding-bottom: 10px; */
    /* margin-bottom: 15px; */
}