{% extends "base.html" %}
{% include "header.html" %}
{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}
{% block main-content %}
{% load static %}

<ul class="uk-breadcrumb uk-padding-small uk-padding-remove-bottom uk-padding-remove-top uk-margin-left">
  <li><a href="/organizations">Organizations</a></li>
  <li><a href="#">Knowledgebases</a></li>
  <li><a href="/organizations/kb/list/{{company.id}}">{{company}}</a></li>
</ul>

{% include "partials/kbsidebar.html" %}
{% include "partials/kbcreate.html" %}



<!-- end uikit -->
{% endblock main-content %}
{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}