{% extends "base.html" %}
{% include "header.html" %}
{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}
{% block main-content %}
{% load static %}

<div class=" uk-padding-small" uk-grid>
    <div class="uk-width-1-4@s">
        <div>
          <ul uk-accordion="multiple: true">
            <li class="uk-open">
              <a class="uk-accordion-title" href="#"><span class="uk-heading-bullet">KB Details</span></a>
              <div class="uk-accordion-content">
                <ul class="uk-list">
                  <li>Name: {{kb}}</li>
                  <li>State: {{kb.state}}</li>
                  <li>Created date: {{kb.published_date}}</li>
                  <li>Last update: {{kb.last_update_date}}</li>
                  <li>Category: {{kb.category}}</li>
                  <li>Showcase: {{kb.showcase}}</li>
                  <li>Related cards: {% for card in kb.related_cards.values %}<a href="/cards/editcard/{{card.id}}">{{card.id}}</a>{% endfor %}</li>
                  <li><a href="/admin/organization/knowledgebasearticle/{{kb.id}}/change/" class="uk-button uk-button-primary">Edit in admin</a></li>
                </ul>
            </div>
            </li>

          </ul>
        </div>
    </div>

    <div class="uk-width-expand" style="height: calc((100vh - 150px) - 100px);" uk-overflow-auto>
        <div>
          <div>
            <input id="x" type="hidden" name="kb" value="{{kb.content}}">
            <trix-editor autofocus input="x"></trix-editor>
                <script>
                  document.addEventListener("trix-file-accept", function(event) {
                    (function() {
                      var HOST = "{{SITE_URL}}"

                      addEventListener("trix-attachment-add", function(event) {
                        if (event.attachment.file) {
                          uploadAttachment(event.attachment)
                        }
                      })

                      function uploadAttachment(attachment) {
                        //var csrfToken = $('meta[name="csrf-token"]').attr('content');
                        var file = attachment.file;
                        var form = new FormData;
                        var endpoint = "/attachments/addkbattachments/";
                        form.append("Content-Type", file.type);
                        form.append("image[image]", file);
                        form.append("kb", {{kb.id}})

                        xhr = new XMLHttpRequest;
                        xhr.open("POST", endpoint, true);
                        //xhr.setRequestHeader("X-CSRF-Token", csrfToken);

                        xhr.upload.onprogress = function(event) {
                          var progress = event.loaded / event.total * 100;
                          return attachment.setUploadProgress(progress);
                        };

                        xhr.onload = function() {
                          if (this.status >= 200 && this.status < 300) {
                            var data = JSON.parse(this.responseText);
                            return attachment.setAttributes({
                              url: HOST + 'media/' + data.url,
                            });
                          }
                        };

                        return xhr.send(form);

                      };

                    })();
                  })
                </script>
          </div>
        </div>
      <div class="uk-margin-top">
        <input name="kbarticle" type="hidden" value="{{kb.id}}" />
        <input class="uk-button-small uk-button-secondary"  name="public_close" type="submit" value="Save article" />
      </div>
    </div>
</div>

<!-- end uikit -->
{% endblock main-content %}
{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}