{% extends "base.html" %}
{% include "header.html" %}
{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}
{% block main-content %}
{% load static %}
<script src="{% static 'organization/js/organizationapp.js' %}"></script>
<script type="text/javascript" src='{% static "doit/js/datatables.min.js" %}'></script>
<link rel="stylesheet" type="text/css" href='{% static "doit/css/datatables.min.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "doit/css/uikitdatatables.css" %}' rel="stylesheet">

<!-- Begin accord -->
<div class="uk-padding uk-padding-remove-top"> <!-- container -->
  <ul uk-accordion="multiple: true" id="all-companies-accordion">
    <li class="uk-open">
      <a class="uk-accordion-title" href="#"><h3>All Companies</h3></a>
      <div class="uk-accordion-content" id="incidents">
        <div class="">
          <div class="well">
            <table id="all-companies-table" class="uk-table uk-table-striped uk-table-hover uk-table-divider dataTable" width="100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div> <!-- /accordion dt companies -->



{% endblock main-content %}
{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}