{% extends "base.html" %}
{% include "header.html" %}

{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}

{% block main-content %}
{% load static %}
{% load humanize %}



<!-- new uikit -->
{% if user.profile_user.is_customer is not True %}
<!-- first row -->
<div class="uk-padding uk-grid-small uk-child-width-1-6@s uk-grid-match uk-flex-center uk-text-center uk-padding-remove-bottom" uk-grid>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
          uk-tooltip="You are the owner on these Incidents.">
      <h3 class="uk-card-title uk-text-center">My Incidents</h3>
      <h1 class="uk-text-center">
        <a id="my_incidents" v-cloak class="uk-text-danger" href="#myincidents-modal" uk-toggle>[[my_incidents]]</a>
      </h1>
    </div>
  </div>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
          uk-tooltip="Some of your Cards are overdue.">
      <h3 class="uk-card-title uk-text-center ">My Overdue Cards</h3>
      <h1 class="uk-text-center">
        <a id="my_vue_overdue" v-cloak class="uk-text-danger" href="#myoverduecards-modal" uk-toggle>[[ my_overdue_cards ]]</a>
      </h1>
    </div>
  </div>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
          uk-tooltip="These Cards are assigned to you.">
      <h3 class="uk-card-title uk-text-center">My Cards</h3>
      <h1 class="uk-text-center">
        <a id="my_vue_cards" v-cloak class="uk-text-warning" href="#mycards-modal"uk-toggle>[[ my_open_cards ]]</a>
      </h1>
    </div>
  </div>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
        uk-tooltip="These are your overdue Boards.">
      <h3 class="uk-card-title uk-text-center">My Overdue Boards</h3>
      <h1 class="uk-text-center">
        <a class="uk-text-danger" href="#myoverdueboard-modal" uk-toggle>{{myoverdueboards|length}}</a>
      </h1>
    </div>
  </div>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
          uk-tooltip="Some of your Cards are overdue.">
      <h3 class="uk-card-title uk-text-center ">Cards without owner</h3>
      <h1 class="uk-text-center">
        <a id="cards_without_owner" v-cloak class="uk-text-warning" href="#noowner-modal" uk-toggle>[[ cards_without_owner ]]</a>
      </h1>
    </div>
  </div>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
         uk-tooltip="These Cards are not associated with a Company.">
      <h3 class="uk-card-title uk-text-center">Cards without company</h3>
      <h1 class="uk-text-center">
        <a id="cards_without_company" v-cloak class="uk-text-warning" href="#cardswithoutcompany-modal" uk-toggle>[[cards_without_company]]</a>
      </h1>
    </div>
  </div>
</div>
<!-- second row -->
<div class="uk-padding uk-grid-small uk-child-width-1-6@s uk-grid-match uk-flex-center uk-text-center uk-padding-remove-top uk-padding-remove-bottom" uk-grid>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
        uk-tooltip="These are all the open Incidents.">
      <p class="uk-text-center">All Open Incidents</p>
      <h1 class="uk-text-danger uk-text-center">
        <a class="uk-text-danger" href="#incidents" onclick="UIkit.accordion('#dashboard-accordion').toggle(0);" uk-scroll>{{incidents|length}}</a>
      </h1>
    </div>
  </div>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
        uk-tooltip="These are all the overdue Cards.">
      <p class="uk-text-center">All Overdue Cards</p>
      <h1 class="uk-text-danger uk-text-center"><a class="uk-text-danger" href="#alloverduecards" onclick="UIkit.accordion('#dashboard-accordion').toggle(1);" uk-scroll>{{alloverduecards}}</a></h1>
    </div>
  </div>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
         uk-tooltip="These Cards have not been prioriotized.">
      <p class="uk-text-center">My Backlog Cards</p>
      <h1 class="uk-text-center">
        <a  href="#mybacklog-modal" uk-toggle>{{mybacklogcards|length}}</a>
      </h1>
    </div>
  </div>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
        uk-tooltip="These Boards are all overdue.">
      <p class="uk-text-center">All Overdue Boards</p>
      <h1 class="uk-text-danger uk-text-center">
        <a class="uk-text-warning" href="#alloverdueboards-modal" uk-toggle>{{alloverdueboards|length}}</a>
      </h1>
    </div>
  </div>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
        uk-tooltip="These Cards have not been prioriotized.">
      <p class="uk-text-center">All Backlog Cards</p>
      <h1 class="uk-text-danger uk-text-center">
        <a href="#backlog-modal" uk-toggle>{{backlogcards|length}}</a>
      </h1>
    </div>
  </div>
   <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
        uk-tooltip="These Cards do not have a due date.">
      <p class="uk-text-center">Cards Without Due Date</p>
      <h1 class="uk-text-danger uk-text-center">
        <a class="uk-text" href="#cardswithoutduedate-modal" uk-toggle>{{cardswithoutduedate|length}}</a>
      </h1>
    </div>
  </div>
</div>
<!-- fourth row -->
<div class="uk-padding uk-grid-small uk-child-width-1-6@s uk-grid-match uk-flex-left uk-text-center uk-padding-remove-top" uk-grid>
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body"
        uk-tooltip="You are a watched on these Cards.">
      <p class="uk-text-center">Cards I'm Watching</p>
      <h1 class="uk-text-center">
        <a class="uk-text-secondary" href="#cardswatcher-modal" uk-toggle>{{cardswatcher|length}}</a>
      </h1>
    </div>
  </div>

  {% if user.profile_user.is_operator %}
  <div class="uk-width-expand">
    <span class="uk-card-small uk-card-default uk-card-hover uk-card-body">
       <p class="uk-text">Minutes per operator</p>

        <div class="uk-flex">
          {% for operator in total_minutes_per_op %}
            <div class="uk-text-small">
              <div class="uk-card uk-card-small uk-card-body uk-margin-left">
                <span class="uk-text-success">{{operator.operator.user}}</span>
                <span class="uk-text-emphasis">{{operator.minutes}}</span>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
  {% endif %}

</div>

<!--  TODO:
    - add priorities based on formula (sla, prio, etc.)
    - add accounts without activity
    - SLA Breaches
    - Overdue today, tomorrow in 5 in two weeks, etc.
    -
-->
{% endif %}
<!-- end uikit -->


{% if user.profile_user.is_customer is True %}
<div class="uk-child-width-1-4@m uk-grid-small uk-grid-match uk-padding-small" uk-grid>
  <div uk-sticky="animation: uk-animation-slide-top; offset: 80">
    <a class="uk-button uk-button-primary uk-button-small" href="cards/addcard">Submit a request</a>
  </div>
</div>

<div class="uk-child-width-1-6@m uk-grid-small uk-grid-match uk-padding-small" uk-grid>

  {% if myincidents %}
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body">
      <h3 class="uk-card-title uk-text-center">My Open Incindents</h3>
      <h1 class="uk-text-danger uk-text-center">{{myincidents|length}}</h1>
    </div>
  </div>
  {% endif %}

  {% if customerowncards %}
  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body">
      <h3 class="uk-card-title uk-text-center">My Cards</h3>
      <h1 class="uk-text-center"><a class="uk-text-danger" href="#customerowncards-modal" uk-toggle>{{customerowncards|length}}</a></h1>
    </div>
  </div>
  {% endif %}

  <div>
    <div class="uk-card-small uk-card-default uk-card-hover uk-card-body">
      <h3 class="uk-card-title uk-text-center">All Cards</h3>
      <h1 class="uk-text-center"><a href="#allcards" onclick="UIkit.accordion('#dashboard-accordion').toggle(1);" uk-scroll>{{allcustomercards}}</a></h1>
    </div>
  </div>
</div>
{% endif %}

<!-- Begin page content -->
<div class="container"> <!-- container -->
  <ul uk-accordion="multiple: true" id="dashboard-accordion">
    <li>
      <a class="uk-accordion-title" href="#"><h3>Incidents</h3></a>
      <div class="uk-accordion-content" id="incidents">
        <div class="border">
          <div class="well">
            <table id="incidents-table" class="table table-striped table-bordered" width="100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Card</th>
                  <th>Organization</th>
                  <th>Status</th>
                  <th>Age</th>
                  {% if request.user.profile_user.is_operator %}
                  <th>Owner</th>
                  <th>Board</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </li>
    {% if user.profile_user.is_customer is not True %}
    <li>
      <a class="uk-accordion-title" href="#" id="#overdue-accordion"><h3>All Overdue</h3></a>
      <div class="uk-accordion-content" id="alloverduecards">
        <div class="border">
          <div class="well">
            <table id="overdue-table" class="table table-striped table-bordered" width="100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Card</th>
                  <th>Organization</th>
                  <th>Status</th>
                  <th>Priority</th>
                  <th>Age</th>
                  {% if request.user.profile_user.is_operator %}
                  <th>Owner</th>
                  <th>Board</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </li>
    {% endif %}
    <li>
      <a class="uk-accordion-title" href="#"><h3>All Cards</h3></a>
      <div class="uk-accordion-content" id="allcards">
          <div class="border">
            <div class="well">
              <table id="yourcards-table" class="table table-striped table-bordered" width="100%">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Card</th>
                        <th>Organization</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Age</th>
                        {% if request.user.profile_user.is_operator %}
                        <th>Owner</th>
                        <th>Board</th>
                        {% endif %}
                      </tr>
                  </thead>
                  <tbody>

                  </tbody>
              </table>
            </div>
          </div>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#"><h3>Closed Cards</h3></a>
      <div class="uk-accordion-content">
          <div class="border">
            <div class="well">
              <table id="closedcards-table" class="table table-striped table-bordered" width="100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Card</th>
                    <th>Organization</th>
                    <th>Priority</th>
                    <th>Created time</th>
                    {% if request.user.profile_user.is_operator %}
                    <th>Owner</th>
                    <th>Board</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </li>

  </ul>
  

</div> <!-- /container -->

<!--TODO Change ul to table, datatables would be cool-->

<!-- MODALS -->
  <!-- cards without owner -->
<div id="noowner-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Cards without an Owner</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          {% if noowner %}
            {% for card in noowner %}
            <li><a href="/cards/editcard/{{card.id}}">{{card.id}}</a> {{card.title|safe}}
              <span class="uk-text-warning">{{card.due_date}}</span>
            </li>
            {% endfor %}
          {% else %}
            <p>Hooray! All cards are assigned!</p>
          {% endif %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </div>
  </div>
</div>
  <!-- end cards without owner -->

  <!-- myoverduecards-->
<div id="myoverduecards-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Overdue Cards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          {% if myoverduecards %}
            {% for card in myoverduecards %}
            <li><a href="/cards/editcard/{{card.id}}">{{card.id}}</a> {{card.title|safe}}
              <span class="uk-text-warning">{{card.due_date}}</span>
            </li>
            {% endfor %}
          {% else %}
            <p>Hooray! No overdue cards.</p>
          {% endif %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </div>
  </div>
</div>
  <!-- end myoverduecards  -->

  <!-- alloverdueboards-->
<div id="alloverdueboards-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">All Overdue Boards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          {% for board in alloverdueboards %}
          <li>
            <a href="/cards/?board={{board.id}}">{{board.id}}</a> {{board}} <span class="uk-text-warning">{{board.due_date}}</span></li>
          {% endfor %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </div>
  </div>
</div>
  <!-- end alloverdueboards  -->

  <!-- myoverdueboard-modal-->
<div id="myoverdueboard-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Overdue Boards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          {% for board in myoverdueboards %}
          <li>
            <a href="/cards/?board={{board.id}}">{{board.id}}</a> {{board}}
            <span class="uk-text-warning">{{board.due_date}}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </div>
  </div>
</div>
  <!-- end myoverdueboard-modal  -->

  <!-- cardswithoutduedate-modal-->
<div id="cardswithoutduedate-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Overdue Boards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <table class="uk-table uk-table-striped">
          <thead>
              <tr>
                  <th>Board</th>
                  <th>Customer</th>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Created</th>
              </tr>
          </thead>
          <tbody>
            {% for card in cardswithoutduedate %}
              <tr>
                  <td>{{card.board}}</td>
                  <td>{{card.company}}</td>
                  <td><a href="/cards/editcard/{{card.id}}">{{card.id}}</a></td>
                  <td>{{card}}</td>
                  <td>{{card.created_time}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
  <!-- end cardswithoutduedate-modal  -->

  <!-- cardswatcher-modal-->
<div id="cardswatcher-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Cards I'm Watching</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Board</th>
                    <th>Customer</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Due</th>
                </tr>
            </thead>
            <tbody>
               {% for card in cardswatcher %}
                <tr>
                    <td>{{card.board}}</td>
                    <td>{{card.company}}</td>
                    <td><a href="/cards/editcard/{{card.id}}">{{card.id}}</a></td>
                    <td>{{card}}</td>
                    <td>{{card.created_time}}</td>
                    <td>{{card.due_date}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
  <!-- end cardswatcher-modal  -->

<!-- myincidents-modal-->
<div id="myincidents-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Incidents</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          {% if myincidents %}
            {% for card in myincidents %}
            <li>
              <a href="/cards/editcard/{{card.id}}">{{card.id}}</a> {{card}}
              <span class="uk-text-warning">{{card.due_date}}</span>
            </li>
            {% endfor %}
          {% else %}
            <p>Hooray! No assigned incidents!</p>
          {% endif %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </div>
  </div>
</div>
<!-- end myincidents-modal  -->

{% if customerowncards %}
<!-- customerowncars-modal-->
<div id="customerowncards-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Cards I participate in</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          {% for card in customerowncards %}
          <li>
            <a href="/cards/editcard/{{card.id}}">{{card.id}}</a> {{card}}
            {% if card.due_date %}<span class="uk-text-warning">{{card.due_date}}</span>{% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </div>
  </div>
</div>
  <!-- end customerowncars-modal  -->
{% endif %}

{% if backlogcards %}
  <!-- bacllogcards-modal-->
<div id="backlog-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Cards in the Backlog</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          {% for card in backlogcards %}
          <li>
            <a href="/cards/editcard/{{card.id}}">{{card.id}}</a> {{card}}
            <span class="uk-text-warning">{{card.due_date}}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </div>
  </div>
</div>
  <!-- end backlogcards-modal  -->
{% endif %}

{% if mybacklogcards %}
  <!-- mybacklogcards-modal-->
<div id="mybacklog-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Cards in the Backlog</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          {% for card in mybacklogcards %}
          <li>
            <a href="/cards/editcard/{{card.id}}">{{card.id}}</a> {{card}}
            <span class="uk-text-warning">{{card.due_date}}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </div>
  </div>
</div>
  <!-- end mybacklogcards-modal  -->
{% endif %}


<!-- cardswithoutcompany-modal-->
<div id="cardswithoutcompany-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Cards without a Company</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          {% if cardswithoutcompany %}
            {% for card in cardswithoutcompany %}
            <li>
              <a href="/cards/editcard/{{card.id}}">{{card.id}}</a> {{card}}
              <span class="uk-text-warning">{{card.due_date}}</span>
            </li>
            {% endfor %}
          {% else %}
            <p>Hooray! All cards are assigned to a company!</p>
          {% endif %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </div>
  </div>
</div>
<!-- end cardswithoutcompany-modal  -->


  <!-- mycards-modal-->
<div id="mycards-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Cards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list-striped">
          {% for card in mycards %}
          <li>
            <a href="/cards/editcard/{{card.id}}">{{card.id}}</a> {{card}}
            <span class="uk-text-warning">{{card.due_date}}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    </div>
  </div>
</div>
  <!-- end mycards-modal  -->

<!-- end MODALS-->

{% endblock main-content %}

{% block footer %}

<script src="{% static "js/vue-dashboard.js" %}"></script>

{% include "footer.html" %}

{% endblock footer %}
