{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site_description }}">
    <meta name="author" content="{{ site_author }}">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>{{ site_title }}</title>

    <!-- uikit -->
    <link rel="stylesheet" href="{% static "uikit/css/uikit.min.css" %}"/>
    <script src="{% static "uikit/js/uikit.min.js" %}"></script>
    <script src="{% static "uikit/js/uikit-icons.min.js" %}"></script>

    <!-- Bootstrap core JavaScript ================================================== -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "summernote/summernote-lite.min.js" %}"></script>

    <!--  trix-editor  -->
    <link rel="stylesheet" type="text/css" href="{% static "css/trix.css" %}">
    <script type="text/javascript" src="{% static "js/trix.js" %}"></script>

    <!-- vuejs : switch to prod when in prod!-->
    <script src="{% static "js/vue.min.js" %}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-datepicker.css" %}" rel="stylesheet">

    <!-- TODO: include locally  -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{% static "css/doit.css" %}" rel="stylesheet">


    <!-- new cards layout and grid -->
    <link href="{% static "css/gridflex.css" %}" rel="stylesheet">
    <!-- end new cards layout and grad -->


    <link href="{% static "css/jquery-ui-1.10.4.min.css" %}" rel="stylesheet">

    <!-- TODO: include only when required: edit and addcard pages  -->
    <link href="{% static "css/breadcrumbs.css" %}" rel="stylesheet">

    <!-- select2 -->
    <!--<link href="{% static "select2-4.0.4/dist/css/select2.min.css" %}" rel="stylesheet" />-->

    <!-- date range picker -->
    <link rel="stylesheet" type="text/css" href="{% static "css/daterangepicker.css" %}"/>

</head>
