{% load static %}

<body {%if page_name == "Edit Card" or page_name == "editcard-ext" or page_name == "Cards" or page_name  == "Close card" %} style="overflow: hidden" {% endif %}>
  <div uk-sticky>
    <header>
      <!-- Main Navbar -->
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav uk-visible@s">
              <span class="uk-navbar-item uk-logo" href="#">DoIT</span>
              {% if user.profile_user.is_operator %}
              <li>
                <a href="/">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                  <span class="uk-text-large">Dashboard</span>
                </a>
              </li>
              <li>
                <a class="uk-text-large" href="/boards">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: grid"></span>
                  <span class="uk-text-large">Boards</span>
                </a>

                {% if page_name != "Boards" %}
                <div class="uk-navbar-dropdown uk-width-1-3" >
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      {% for board in boards %}
                         <li><span class="uk-margin-small-right">
                           <a href="/cards/addcard/?board={{board.id}}&company={{board.company_id}}" class="uk-link uk-icon" uk-icon="icon: plus-circle; ratio: 1;"></a>
                           <a href="/cards/?board={{board.id}}" class="uk-link uk-text-large">{{board.name}}</a></span></li>
                       {% endfor %}

                    </ul>
                </div>
                {% endif %}
              </li>
              <li>
                <a class="uk-text-large" href="/organizations">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: users"></span>
                  <span class="uk-text-large">Customers</span>
                </a>
              </li>
              <li>
                <a class="uk-text-large" href="/reports">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: file-text"></span>
                  <span class="uk-text-large">Reports</span>
                </a>
              </li>
              <li>
                <a class="uk-text-large" href="/profile">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                  <span class="uk-text-large">Profile</span>
                </a>
              </li>
              <li>
                <a class="uk-text-large" href="/logout">
                   <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                  <span class="uk-text-large">Sign out</span>
                </a>
              </li>
              {% else %}
              <li>
                <a class="uk-text-large" href="/">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                  <span class="uk-text-large">Dashboard</span>
                </a>
              </li>
              {% if user.profile_user.is_org_admin %}
                <li>
                  <a class="uk-text-large" href="/reports">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: file-text"></span>
                    <span class="uk-text-large">Reports</span>
                  </a>
                </li>
              {% endif %}
              <li>
                <a class="uk-text-large" href="/profile">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                  <span class="uk-text-large">Profile</span>
                </a>
              </li>
              <li>
                <a class="uk-text-large" href="/logout">
                   <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                  <span class="uk-text-large">Sign out</span>
                </a>
              </li>
              {% endif %}
            </ul>
            <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
        </div>
      </nav>
    </header>

    <div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
      <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
          <span class="uk-navbar-item uk-logo" href="#">DoIT</span>
              {% if user.profile_user.is_operator %}
              <li>
                <a class="uk-text-large" href="/">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                  <span class="uk-text-large">Dashboard</span>
                </a>
              </li>
              <li>
                <a class="uk-text-large" href="/boards">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: grid"></span>
                  <span class="uk-text-large">Boards</span>
                </a>

              </li>
              <li>
                <a class="uk-text-large" href="/organizations">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: users"></span>
                  <span class="uk-text-large">Customers</span>
                </a>
              </li>
              <li>
                <a class="uk-text-large" href="/reports">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                  <span class="uk-text-large">Reports</span>
                </a>
              </li>
              <li>
                <a class="uk-text-large" href="/profile">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                  <span class="uk-text-large">Profile</span>
                </a>
              </li>
              <li>
                <a class="uk-text-large" href="/logout">
                   <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                  <span class="uk-text-large">Sign out</span>
                </a>
              </li>
              {% else %}
              <li>
                <a class="uk-text-large" href="/">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                  <span class="uk-text-large">Dashboard</span>
                </a>
              </li>
              {% if user.profile_user.is_org_admin %}
                <li>
                  <a class="uk-text-large" href="/reports">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: file-text"></span>
                    <span class="uk-text-large">Reports</span>
                  </a>
                </li>
              {% endif %}
              <li>
                <a class="uk-text-large" href="/profile">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                  <span class="uk-text-large">Profile</span>
                </a>
              </li>
              <li>
                <a class="uk-text-large" href="/logout">
                   <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                  <span class="uk-text-large">Sign out</span>
                </a>
              </li>
              {% endif %}
            </ul>
        </ul>
      </div>
    </div>
  </div>

  {% if page_name == "Boards" %}
  <ul class="uk-breadcrumb uk-padding-small">
    <li><a href="/boards/" class="uk-text-large">Boards</a></li>
    <li><a href="/boards/archived/" class="uk-text-large">Archived Boards</a></li>
    <li><a href="/boards/addboard/" class="uk-text-large">Add a board</a></li>
  </ul>
  {% endif %}

  {% if page_name == "Organizations" %}
  <ul class="uk-breadcrumb uk-padding-small">
    <li><a href="/organizations/" class="uk-text-large">Companies</a></li>
    <li><a href="/organizations/addboard/" data-toggle="modal" data-target="#addOrganizationModal" class="uk-text-large">Add Company</a></li>
  </ul>
  {% endif %}

  
  {% if page_name == "Cards" %}
  <ul class="uk-breadcrumb uk-padding-small">
    <li><a href="/" class="uk-text-large">Dashboard</a></li>
    <li><a href="/boards/" class="uk-text-large">Boards</a></li>
    <li><a href="/boards/editboard/{{boardname.id}}" class="uk-text-large">Edit {{ boardname.name }}</a></li>
  </ul>
  {% endif %}

 {% if page_name == "Edit Card" %}
  <ul class="uk-breadcrumb uk-padding-small">
    <li><a href="/boards/" class="uk-text-large">Boards</a></li>
    <li><a href="/cards/?board={{card.board.id}}" class="uk-text-large">{{card.board.name}}</a></li>
    <li class="uk-text-lead" class="uk-text-large">#{{card.id}} / {{card}}</li>
  </ul>
  {% endif %}

  {% if page_name == "Profile" %}
  <ul class="uk-breadcrumb uk-padding-small">
    <li><a href="/" class="uk-text-large">Dashboard</a></li>
    <li><a href="/profile" class="uk-active" class="uk-text-large">{{page_name}}</a></li>
  </ul>
  {% endif %}

<hr>



