{% extends "base.html" %}
{% include "header.html" %}

{% block menu %}
  {% include "menu.html" %}
{% endblock menu %}

{% block main-content %}
{% load static %}
{% load humanize %}
  <script type="text/javascript" src='{% static "doit/js/datatables.min.js" %}'></script>
  <link rel="stylesheet" type="text/css" href='{% static "doit/css/datatables.min.css" %}'/>
  <link rel="stylesheet" type="text/css" href='{% static "doit/css/uikitdatatables.css" %}' rel="stylesheet">
<style>
.uk-animation-scale-up {
    animation-duration: 1s;
}


</style>

<!-- new uikit -->
{% if user.profile_user.is_customer is not True %}
  <!-- first row  / PERSONAL -->
  <div class="uk-padding uk-child-width-1-6@m uk-child-width-1-3@s uk-grid-small uk-grid-match uk-flex-left uk-text-center uk-padding-remove-top uk-padding-remove-bottom" uk-grid>

    {% if cardswithoutcompany %}
    <div id="no-owner-or-company">
      <cards-without-owner-or-company-component></cards-without-owner-or-company-component>
    </div>
    {% endif %}

    {% if mymajorcards %}
    <div id="my-major-cards">
      <my-major-cards-component></my-major-cards-component>
    </div>
    {% endif %}

    <div id="my-normal-cards" >
      <my-normal-cards-component></my-normal-cards-component>
    </div>

    <div id="my-minor-cards" >
      <my-minor-cards-component></my-minor-cards-component>
    </div>

    {% if myincidents %}
    <div id="my-open-incidents" >
      <my-open-incidents-component></my-open-incidents-component>
    </div>
    {% endif %}

    {% if myoverduecards %}
    <div id="my-overdue-cards" >
      <my-overdue-cards-component></my-overdue-cards-component>
    </div>
    {% endif %}

    <div id="my-open-cards" >
      <my-open-cards-component></my-open-cards-component>
    </div>
    <div id="my-overdue-boards" >
      <my-overdue-boards-component></my-overdue-boards-component>
    </div>
    <div id="cards-watcher" >
      <cards-im-watching></cards-im-watching>
    </div>

    <div id="all-open-incidents" >
      <all-open-incidents-component></all-open-incidents-component>
    </div>

    <div>
      <div class="uk-card-small uk-inline uk-card-default uk-card-body uk-animation-scale-up">
        <p class="uk-text-center">All Overdue Cards</p>
        <span class="uk-margin-small-right uk-margin-small-bottom uk-position-bottom-right" uk-icon="question" uk-tooltip="title: These are all the Cards in the system. This is here to help you get an overall understanding of team workloads. If you find yourself with free time or happen to know how to help your colleagues advance with one of their Cards, feel free to provide a helping hand."></span>
        <h1 class="uk-text-danger uk-text-center"><a class="uk-text-danger" href="#alloverduecards" onclick="UIkit.accordion('#dashboard-accordion').toggle(1); $($.fn.dataTable.tables(true)).DataTable().columns.adjust();" uk-scroll>{{alloverduecards}}</a></h1>
      </div>
    </div>

    <div id="my-backlog-cards" >
      <my-backlog-component></my-backlog-component>
    </div>

    <div id="all-cards-sla-breached" >
      <all-cards-sla-breached-component></all-cards-sla-breached-component>
    </div>

    <div>
      <div class="uk-card-small uk-inline uk-card-default uk-card-body uk-animation-scale-up">
        <p class="uk-text-center">All Overdue Boards</p>
        <span class="uk-margin-small-right uk-margin-small-bottom uk-position-bottom-right" uk-icon="question" uk-tooltip="title: These are all the overdue Boards (projects) in the system. This is here to help you get an overall understanding of project status. If you find yourself with free time or happen to know how to help your colleagues advance with one of their projects, feel free to provide a helping hand."></span>
        <h1 class="uk-text-danger uk-text-center">
          <a class="uk-text-warning" href="#alloverdueboards-modal" uk-toggle>{{alloverdueboards|length}}</a>
        </h1>
      </div>
    </div>

    <div id="all-backlog-cards" >
      <all-backlog-component></all-backlog-component>
    </div>

    <div id="cards-no-due-date" class="uk-animation-scale-up uk-animation-15">
      <cards-no-due-date-component></cards-no-due-date-component>
    </div>

  </div>

<!-- third row / labels -->
  <!-- <div class="uk-padding uk-grid-small uk-child-width-1-6@s uk-grid-match uk-flex-center uk-text-center uk-padding-remove-top uk-padding-remove-bottom" uk-grid>
    <span class="uk-label uk-label-danger uk-margin-right">[[duetoday]] Due today</span>
    <span class="uk-label uk-label-success uk-margin-right"># cards SLA breached</span>
    <span class="uk-label uk-label-warning uk-margin-right"># cards Normal</span>
    <span class="uk-label uk-label-danger">#cards Major</span>
  </div> -->
{% endif %}
<!-- end uikit -->


{% if user.profile_user.is_customer is True %}
  <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match uk-padding-small" uk-grid>
    <div uk-sticky="animation: uk-animation-slide-top; offset: 80">
      <a class="uk-button uk-button-primary uk-button-small" href="cards/addcard">Submit a request</a>
    </div>
  </div>

  <div class="uk-child-width-1-6@m uk-grid-small uk-grid-match uk-padding-small" uk-grid>

    {% if myincidents %}
    <div>
      <div class="uk-card-small uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title uk-text-center">My Open Incindents</h3>
        <h1 class="uk-text-danger uk-text-center">{{myincidents|length}}</h1>
      </div>
    </div>
    {% endif %}

    {% if customerowncards %}
    <div>
      <div class="uk-card-small uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title uk-text-center">My Cards</h3>
        <h1 class="uk-text-center"><a class="uk-text-danger" href="#customerowncards-modal" uk-toggle>{{customerowncards|length}}</a></h1>
      </div>
    </div>
    {% endif %}

    <div>
      <div class="uk-card-small uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title uk-text-center">All Cards</h3>
        <h1 class="uk-text-center"><a href="#allcards" onclick="UIkit.accordion('#dashboard-accordion').toggle(1);" uk-scroll>{{allcustomercards}}</a></h1>
      </div>
    </div>
  </div>
{% endif %}

<!-- Begin page content -->
<div class="uk-padding"> <!-- container -->
  <ul uk-accordion="multiple: true" id="dashboard-accordion">
    <li>
      <a class="uk-accordion-title" href="#"><h3>Incidents</h3></a>
      <div class="uk-accordion-content" id="incidents">
        <div class="">
          <div class="well">
            <table id="incidents-table" class="uk-table uk-table-striped uk-table-hover uk-table-divider dataTable" width="100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Card</th>
                  <th>Organization</th>
                  <th>Status</th>
                  <th>Age</th>
                  <th>Last update</th>
                  {% if request.user.profile_user.is_operator %}
                  <th>Owner</th>
                  <th>Board</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </li>
    {% if user.profile_user.is_customer is not True %}
    <li>
      <a class="uk-accordion-title" href="#" id="#overdue-accordion"><h3>All Overdue</h3></a>
      <div class="uk-accordion-content" id="alloverduecards">
        <div class="border">
          <div class="well">
            <table id="overdue-table" class="uk-table uk-table-striped uk-table-hover uk-table-divider" width="100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Card</th>
                  <th>Organization</th>
                  <th>Status</th>
                  <th>Priority</th>
                  <th>Age</th>
                  <th>Last update</th>
                  {% if request.user.profile_user.is_operator %}
                  <th>Owner</th>
                  <th>Board</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </li>
    {% endif %}
    <li>
      <a class="uk-accordion-title" href="#" onchange="$($.fn.dataTable.tables(true)).DataTable().columns.adjust();"><h3>All Cards</h3></a>
      <div class="uk-accordion-content" id="allcards">
          <div class="border">
            <div class="well">
              <table id="allcards-table" class="uk-table uk-table-striped uk-table-hover uk-table-divider" width="100%">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Card</th>
                        <th>Organization</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Age</th>
                        <th>Last update</th>
                        {% if request.user.profile_user.is_operator %}
                        <th>Owner</th>
                        <th>Board</th>
                        {% endif %}
                      </tr>
                  </thead>
                  <tbody>

                  </tbody>
              </table>
            </div>
          </div>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#"><h3>Closed Cards</h3></a>
      <div class="uk-accordion-content">
          <div class="border">
            <div class="well">
              <table id="closedcards-table" class="uk-table uk-table-striped uk-table-hover uk-table-divider" width="100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Card</th>
                    <th>Organization</th>
                    <th>Priority</th>
                    <th>Created time</th>
                    <th>Last update</th>
                    {% if request.user.profile_user.is_operator %}
                    <th>Owner</th>
                    <th>Board</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </li>
  </ul>
</div> <!-- /container -->

<!--TODO Change ul to table, datatables would be cool-->

<!-- MODALS -->
<!-- cards without owner -->
<div id="noowner-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Cards without Owner or Company</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>

        <div>
          <table id="cards_without_owner" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="card in no_owner_or_company">
                <td>[[card.board.name]]</td>
                <td v-if="card.company" >[[card.company.name]]</td>
                <td v-else="card.company" class="uk-text-danger">no company</td>
                <td v-if="card.owner">[[card.owner.username]]</td>
                <td v-else="card.owner" class="uk-text-danger">no owner</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment ]]</td>
                <td v-cloak v-if="card.due_date">[[card.due_date | moment ]]</td>
                <td v-cloak v-else="card.due_date" class="uk-text-danger">no due date</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<!-- end cards without owner -->

  <!-- myoverduecards-->
<div id="myoverduecards-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Overdue Cards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <div>
          <table id="my_overdue_cards_list" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="card in my_overdue_cards_list">
                <td>[[card.board__name]]</td>
                <td v-if="card.company__name" >[[card.company__name]]</td>
                <td v-else="card.company__name" class="uk-text-danger">no company</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment ]]</td>
                <td v-cloak>[[card.due_date | moment ]]</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
  <!-- end myoverduecards  -->

  <!-- alloverdueboards-->
<div id="alloverdueboards-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">All Overdue Boards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list uk-list-striped">
          {% for board in alloverdueboards %}
          <li>
            <a href="/cards/?board={{board.id}}">{{board.id}}</a> {{board}} <span class="uk-text-warning">{{board.due_date}}</span></li>
          {% endfor %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
  <!-- end alloverdueboards  -->

  <!-- myoverdueboard-modal-->
<div id="myoverdueboard-modal" class="uk-modal-container" uk-modal>

  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Overdue Boards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <div>
          <table id="my_overdue_boards_list" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>ID</th>
                <th>Created</th>
                <th>Due</th>
               <!-- <th>Actions</th> -->
              </tr>
            </thead>
            <tbody>
              <tr v-for="board in my_overdue_boards_list">
                <td>[[board.name]]</td>
                <td v-if="board.company.name" >[[board.company.name]]</td>
                <td v-else="board.company.name" class="uk-text-danger">no company</td>
                <td><a v-bind:href="'/boards/editboard/' + board.id">[[board.id]]</a></td>
                <td>[[board.created_time | moment ]]</td>
                <td v-cloak>[[board.due_date | moment ]]</td>
                <!-- <td>
                  <a v-on:click="deleteBoard(board.id)">
                    <span uk-icon="trash" style="color:red" onclick="return confirm('This is a non-recoverable operation! All related items (tasks, attachments, etc.) will also be removed! Are you sure?')"></span>
                  </a>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>


</div>
  <!-- end myoverdueboard-modal  -->


  <!-- cardswithoutduedate-modal-->
  <div id="cardswithoutduedate-modal" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
          <h2 class="uk-modal-title">Cards Without a Due date</h2>
      </div>
        <div class="uk-modal-body" uk-overflow-auto>
          <div>
            <table id="cards-without-due-date" class="uk-table uk-table-striped">
              <thead>
                <tr>
                  <th>Board</th>
                  <th>Customer</th>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Created</th>
                  <th>Due</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="card in cards">
                  <td>[[card.board.name]]</td>
                  <td v-if="card.company__name" >[[card.company__name]]</td>
                  <td v-else="card.company__name" class="uk-text-danger">no company</td>
                  <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                  <td>[[card.title]]</td>
                  <td>[[card.created_time | moment ]]</td>
                  <td v-cloak>[[card.due_date | moment ]]</td>
                  <td>
                    <a v-on:click="deleteCard(card.id)">
                      <span uk-icon="trash" style="color:red"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
      </div>
    </div>
  </div>
  <!-- end cardswithoutduedate-modal  -->

  <!-- cardswatcher-modal-->
<div id="cardswatcher-modal" class="uk-modal-container" uk-modal>

  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Cards I'm Watching</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>

        <div>
          <table id="cards_watcher" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="card in cards">
                <td>[[card.board.name]]</td>
                <td v-if="card.company" >[[card.company.name]]</td>
                <td v-else="card.company" class="uk-text-danger">no company</td>
                <td v-if="card.owner">[[card.owner.username]]</td>
                <td v-else="card.owner" class="uk-text-danger">no owner</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment ]]</td>
                <td v-cloak v-if="card.due_date">[[card.due_date | moment ]]</td>
                <td v-cloak v-else="card.due_date" class="uk-text-danger">no due date</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>

</div>
<!-- end cardswatcher-modal  -->

<!-- myincidents-modal-->
<div id="myincidents-modal" class="uk-modal-container" uk-modal>

  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Incidents</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>

        <div>
          <table id="my-incidents" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="card in my_incidents">
                <td>[[card.board.name]]</td>
                <td v-if="card.company" >[[card.company.name]]</td>
                <td v-else="card.company" class="uk-text-danger">no company</td>
                <td v-if="card.owner">[[card.owner.username]]</td>
                <td v-else="card.owner" class="uk-text-danger">no owner</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment ]]</td>
                <td v-cloak v-if="card.due_date">[[card.due_date | moment ]]</td>
                <td v-cloak v-else="card.due_date" class="uk-text-danger">no due date</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>

</div>
<!-- end myincidents-modal  -->

{# mymajorcards-modal #}
 <div id="mymajorcards-modal" class="uk-modal-container" uk-modal>

  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Major Cards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>

        <div>
          <table id="my-majorcards" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="card in my_majorcards">
                <td>[[card.board.name]]</td>
                <td v-if="card.company" >[[card.company.name]]</td>
                <td v-else="card.company" class="uk-text-danger">no company</td>
                <td v-if="card.owner">[[card.owner.username]]</td>
                <td v-else="card.owner" class="uk-text-danger">no owner</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment]]</td>
                <td v-cloak v-if="card.due_date">[[card.due_date | moment ]]</td>
                <td v-cloak v-else="card.due_date" class="uk-text-danger">no due date</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>

</div>
{# end mymajorcards-modal #}

{# mynormal-modal #}
<div id="mynormalcards-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Normal Cards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>

        <div>
          <table id="my-normalcards" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="card in my_normalcards">
                <td>[[card.board.name]]</td>
                <td v-if="card.company" >[[card.company.name]]</td>
                <td v-else="card.company" class="uk-text-danger">no company</td>
                <td v-if="card.owner">[[card.owner.username]]</td>
                <td v-else="card.owner" class="uk-text-danger">no owner</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment]]</td>
                <td v-cloak v-if="card.due_date">[[card.due_date | moment ]]</td>
                <td v-cloak v-else="card.due_date" class="uk-text-danger">no due date</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>

</div>
{# end mynormal-modal #}

{# myminorcards-modal #}
<div id="myminorcards-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Minor priority Cards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>

        <div>
          <table id="my-minorcards" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="card in my_minorcards">
                <td>[[card.board.name]]</td>
                <td v-if="card.company" >[[card.company.name]]</td>
                <td v-else="card.company" class="uk-text-danger">no company</td>
                <td v-if="card.owner">[[card.owner.username]]</td>
                <td v-else="card.owner" class="uk-text-danger">no owner</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment]]</td>
                <td v-cloak v-if="card.due_date">[[card.due_date | moment ]]</td>
                <td v-cloak v-else="card.due_date" class="uk-text-danger">no due date</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
{# end myminorcards-modal #}

{# all-cards-sla-breached-modal #}
<div id="all-cards-sla-breached-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Cards outside of SLA</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>

        <div>
          <table id="all-cards-sla-breached-table" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
              <tr v-for="card in cards">
                <td>[[card.board.name]]</td>
                <td v-if="card.company" >[[card.company.name]]</td>
                <td v-else="card.company" class="uk-text-danger">no company</td>
                <td v-if="card.owner">[[card.owner.username]]</td>
                <td v-else="card.owner" class="uk-text-danger">no owner</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment]]</td>
                <td v-cloak v-if="card.due_date">[[card.due_date | moment ]]</td>
                <td v-cloak v-else="card.due_date" class="uk-text-danger">no due date</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
{# end all-cards-sla-breached-modal #}

{% if customerowncards %}
<!-- customerowncars-modal-->
<div id="customerowncards-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">Cards I participate in</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <ul class="uk-list uk-list-striped">
          {% for card in customerowncards %}
          <li>
            <a href="/cards/editcard/{{card.id}}">{{card.id}}</a> {{card}}
            {% if card.due_date %}<span class="uk-text-warning">{{card.due_date}}</span>{% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
  <!-- end customerowncars-modal  -->
{% endif %}

{% if backlogcards %}
  <!-- bacllogcards-modal-->
<div id="allbacklog-modal" class="uk-modal-container" uk-modal>

  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">All Backlog Cards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>

        <div>
          <table id="all-backlog" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="card in cards">
                <td>[[card.board.name]]</td>
                <td v-if="card.company" >[[card.company.name]]</td>
                <td v-else="card.company" class="uk-text-danger">no company</td>
                <td v-if="card.owner">[[card.owner.username]]</td>
                <td v-else="card.owner" class="uk-text-danger">no owner</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment ]]</td>
                <td v-cloak v-if="card.due_date">[[card.due_date | moment ]]</td>
                <td v-cloak v-else="card.due_date" class="uk-text-danger">no due date</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>

</div>
  <!-- end backlogcards-modal  -->
{% endif %}

{% if mybacklogcards %}
  <!-- mybacklogcards-modal-->
<div id="mybacklog-modal" class="uk-modal-container" uk-modal>

  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Backlog</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>

        <div>
          <table id="my-backlog" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="card in cards">
                <td>[[card.board.name]]</td>
                <td v-if="card.company" >[[card.company.name]]</td>
                <td v-else="card.company" class="uk-text-danger">no company</td>
                <td v-if="card.owner">[[card.owner.username]]</td>
                <td v-else="card.owner" class="uk-text-danger">no owner</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment ]]</td>
                <td v-cloak v-if="card.due_date">[[card.due_date | moment ]]</td>
                <td v-cloak v-else="card.due_date" class="uk-text-danger">no due date</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red" onclick="return confirm('This is a non-recoverable operation! All related items (tasks, attachments, etc.) will also be removed! Are you sure?')"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>

</div>
  <!-- end mybacklogcards-modal  -->
{% endif %}


<!-- mycards-modal-->
<div id="mycards-modal"class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">My Open Cards</h2>
    </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <div>
          <table id="all_my_open_cards" class="uk-table uk-table-striped">
            <thead>
              <tr>
                <th>Board</th>
                <th>Customer</th>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="card in all_my_open_cards">
                <td>[[card.board__name]]</td>
                <td v-if="card.company__name" >[[card.company__name]]</td>
                <td v-else="card.company__name" class="uk-text-danger">no company</td>
                <td><a v-bind:href="'/cards/editcard/' + card.id">[[card.id]]</a></td>
                <td>[[card.title]]</td>
                <td>[[card.created_time | moment ]]</td>
                <td v-cloak v-if="card.due_date">[[card.due_date | moment ]]</td>
                <td v-cloak v-else="card.due_date" class="uk-text-danger">no due date</td>
                <td>
                  <a v-on:click="deleteCard(card.id)">
                    <span uk-icon="trash" style="color:red"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
    </div>
  </div>
</div>
<!-- end mycards-modal  -->

<!-- end MODALS-->

{% endblock main-content %}

{% block footer %}

{% if user.profile_user.is_customer is not True %}
<script src="{% static "doit/js/vue-dashboard.js" %}"></script>
<script src="{% static "doit/js/components.js" %}"></script>
{%endif%}

{% include "footer.html" %}

{% endblock footer %}
