{% extends "base.html" %}

{% block main-content %}
{% if unsplash %}
<div class="uk-cover-container" uk-height-viewport>
  <img src="https://source.unsplash.com/daily" alt="unsplash" uk-cover>
{% endif %}
  <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-height-viewport">
    <div class="uk-width-1-1">
      <div class="uk-container  uk-position-center">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
          <div class="uk-width-1-1@m">
            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
              <h3 class="uk-card-title uk-text-center">Welcome back!</h3>
              <h6 class="uk-text-center">Ready to get things done?</h6>
              <form action="/login/" class="form-signin" id="login_form" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input uk-form-large" name="username" type="text">
                  </div>
                </div>
                <div class="uk-margin">
                  <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input uk-form-large" name="password" type="password">
                  </div>
                </div>
                <div class="uk-margin">
                  <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Login</button>
                  <p>If you need help logging in please send an email to <a href="mailto:help@spearhead.systems?subject=Help logging in to doit">help@spearhead.systems</a>.</p>
                </div>
                <!-- <div class="uk-text-small uk-text-center">
                  Not registered? <a href="#">Create an account</a>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% if unsplash %}
</div>
{% endif %}
{% endblock main-content %}

{% block footer %}

{% endblock footer %}